.ci {
	background: url("../svg/sprite.css.svg") no-repeat;
}

.ci-16-check-circle-filled {
	background-position: 27.272727272727273% 98.11320754716981%;
}

.ci-16-check-circle-filled-size {
	width: 16px;
	height: 16px;
}

.ci-16-check-circle-outlined {
	background-position: 30.90909090909091% 98.11320754716981%;
}

.ci-16-check-circle-outlined-size {
	width: 16px;
	height: 16px;
}

.ci-16-chevron-down {
	background-position: 34.54545454545455% 98.11320754716981%;
}

.ci-16-chevron-down-size {
	width: 16px;
	height: 16px;
}

.ci-16-chevron-left {
	background-position: 38.18181818181818% 98.11320754716981%;
}

.ci-16-chevron-left-size {
	width: 16px;
	height: 16px;
}

.ci-16-chevron-right {
	background-position: 41.81818181818182% 98.11320754716981%;
}

.ci-16-chevron-right-size {
	width: 16px;
	height: 16px;
}

.ci-16-chevron-up {
	background-position: 45.45454545454545% 98.11320754716981%;
}

.ci-16-chevron-up-size {
	width: 16px;
	height: 16px;
}

.ci-16-clock-outlined {
	background-position: 49.09090909090909% 98.11320754716981%;
}

.ci-16-clock-outlined-size {
	width: 16px;
	height: 16px;
}

.ci-16-cross {
	background-position: 52.72727272727273% 98.11320754716981%;
}

.ci-16-cross-size {
	width: 16px;
	height: 16px;
}

.ci-16-editor-arrow-down {
	background-position: 56.36363636363637% 98.11320754716981%;
}

.ci-16-editor-arrow-down-size {
	width: 16px;
	height: 16px;
}

.ci-16-editor-arrow-up {
	background-position: 60% 98.11320754716981%;
}

.ci-16-editor-arrow-up-size {
	width: 16px;
	height: 16px;
}

.ci-16-editor-bold {
	background-position: 63.63636363636363% 98.11320754716981%;
}

.ci-16-editor-bold-size {
	width: 16px;
	height: 16px;
}

.ci-16-editor-delete {
	background-position: 67.27272727272727% 98.11320754716981%;
}

.ci-16-editor-delete-size {
	width: 16px;
	height: 16px;
}

.ci-16-editor-h-1 {
	background-position: 70.9090909090909% 98.11320754716981%;
}

.ci-16-editor-h-1-size {
	width: 16px;
	height: 16px;
}

.ci-16-editor-h-2 {
	background-position: 74.54545454545455% 98.11320754716981%;
}

.ci-16-editor-h-2-size {
	width: 16px;
	height: 16px;
}

.ci-16-editor-h-3 {
	background-position: 78.18181818181819% 98.11320754716981%;
}

.ci-16-editor-h-3-size {
	width: 16px;
	height: 16px;
}

.ci-16-editor-h-4 {
	background-position: 81.81818181818181% 98.11320754716981%;
}

.ci-16-editor-h-4-size {
	width: 16px;
	height: 16px;
}

.ci-16-editor-h-5 {
	background-position: 85.45454545454545% 98.11320754716981%;
}

.ci-16-editor-h-5-size {
	width: 16px;
	height: 16px;
}

.ci-16-editor-h-6 {
	background-position: 89.0909090909091% 98.11320754716981%;
}

.ci-16-editor-h-6-size {
	width: 16px;
	height: 16px;
}

.ci-16-editor-headline {
	background-position: 92.72727272727273% 98.11320754716981%;
}

.ci-16-editor-headline-size {
	width: 16px;
	height: 16px;
}

.ci-16-editor-image {
	background-position: 96.36363636363636% 98.11320754716981%;
}

.ci-16-editor-image-size {
	width: 16px;
	height: 16px;
}

.ci-16-editor-indent-decrease {
	background-position: 100% 0;
}

.ci-16-editor-indent-decrease-size {
	width: 16px;
	height: 16px;
}

.ci-16-editor-indent-increase {
	background-position: 100% 3.7735849056603774%;
}

.ci-16-editor-indent-increase-size {
	width: 16px;
	height: 16px;
}

.ci-16-editor-italic {
	background-position: 100% 7.547169811320755%;
}

.ci-16-editor-italic-size {
	width: 16px;
	height: 16px;
}

.ci-16-editor-link {
	background-position: 100% 11.320754716981131%;
}

.ci-16-editor-link-size {
	width: 16px;
	height: 16px;
}

.ci-16-editor-link-break {
	background-position: 100% 15.09433962264151%;
}

.ci-16-editor-link-break-size {
	width: 16px;
	height: 16px;
}

.ci-16-editor-ol {
	background-position: 100% 18.867924528301888%;
}

.ci-16-editor-ol-size {
	width: 16px;
	height: 16px;
}

.ci-16-editor-paragraph {
	background-position: 100% 22.641509433962263%;
}

.ci-16-editor-paragraph-size {
	width: 16px;
	height: 16px;
}

.ci-16-editor-plus {
	background-position: 100% 26.41509433962264%;
}

.ci-16-editor-plus-size {
	width: 16px;
	height: 16px;
}

.ci-16-editor-search {
	background-position: 100% 30.18867924528302%;
}

.ci-16-editor-search-size {
	width: 16px;
	height: 16px;
}

.ci-16-editor-settings {
	background-position: 100% 33.9622641509434%;
}

.ci-16-editor-settings-size {
	width: 16px;
	height: 16px;
}

.ci-16-editor-ul {
	background-position: 100% 37.735849056603776%;
}

.ci-16-editor-ul-size {
	width: 16px;
	height: 16px;
}

.ci-16-external-link {
	background-position: 100% 41.509433962264154%;
}

.ci-16-external-link-size {
	width: 16px;
	height: 16px;
}

.ci-16-flag {
	background-position: 100% 45.283018867924525%;
}

.ci-16-flag-size {
	width: 16px;
	height: 16px;
}

.ci-16-flash-circle-outlined {
	background-position: 100% 49.056603773584904%;
}

.ci-16-flash-circle-outlined-size {
	width: 16px;
	height: 16px;
}

.ci-16-info-circle-outlined {
	background-position: 100% 52.83018867924528%;
}

.ci-16-info-circle-outlined-size {
	width: 16px;
	height: 16px;
}

.ci-16-link-large {
	background-position: 100% 56.60377358490566%;
}

.ci-16-link-large-size {
	width: 16px;
	height: 16px;
}

.ci-16-link-medium {
	background-position: 100% 60.37735849056604%;
}

.ci-16-link-medium-size {
	width: 16px;
	height: 16px;
}

.ci-16-link-small {
	background-position: 100% 64.15094339622641%;
}

.ci-16-link-small-size {
	width: 16px;
	height: 16px;
}

.ci-16-lock-outlined {
	background-position: 100% 67.9245283018868%;
}

.ci-16-lock-outlined-size {
	width: 16px;
	height: 16px;
}

.ci-16-pen-outlined {
	background-position: 100% 71.69811320754717%;
}

.ci-16-pen-outlined-size {
	width: 16px;
	height: 16px;
}

.ci-16-pin-outlined {
	background-position: 100% 75.47169811320755%;
}

.ci-16-pin-outlined-size {
	width: 16px;
	height: 16px;
}

.ci-16-targeted-outlined {
	background-position: 100% 79.24528301886792%;
}

.ci-16-targeted-outlined-size {
	width: 16px;
	height: 16px;
}

.ci-16-thumbs-up-outlined {
	background-position: 100% 83.01886792452831%;
}

.ci-16-thumbs-up-outlined-size {
	width: 16px;
	height: 16px;
}

.ci-16-translate-box-outlined {
	background-position: 100% 86.79245283018868%;
}

.ci-16-translate-box-outlined-size {
	width: 16px;
	height: 16px;
}

.ci-16-warning-circle-outlined {
	background-position: 100% 90.56603773584905%;
}

.ci-16-warning-circle-outlined-size {
	width: 16px;
	height: 16px;
}

.ci-a-11-y-outlined {
	background-position: 28.703703703703702% 38.46153846153846%;
}

.ci-a-11-y-outlined-size {
	width: 24px;
	height: 24px;
}

.ci-alert-box-outlined {
	background-position: 34.25925925925926% 38.46153846153846%;
}

.ci-alert-box-outlined-size {
	width: 24px;
	height: 24px;
}

.ci-alert-circle-outlined {
	background-position: 39.81481481481482% 38.46153846153846%;
}

.ci-alert-circle-outlined-size {
	width: 24px;
	height: 24px;
}

.ci-apple-safari {
	background-position: 46.2962962962963% 0;
}

.ci-apple-safari-size {
	width: 24px;
	height: 24px;
}

.ci-arrow-down-outlined {
	background-position: 46.2962962962963% 5.769230769230769%;
}

.ci-arrow-down-outlined-size {
	width: 24px;
	height: 24px;
}

.ci-arrow-left-outlined {
	background-position: 46.2962962962963% 11.538461538461538%;
}

.ci-arrow-left-outlined-size {
	width: 24px;
	height: 24px;
}

.ci-arrow-redo-outlined {
	background-position: 46.2962962962963% 17.307692307692307%;
}

.ci-arrow-redo-outlined-size {
	width: 24px;
	height: 24px;
}

.ci-arrow-right-outlined {
	background-position: 46.2962962962963% 23.076923076923077%;
}

.ci-arrow-right-outlined-size {
	width: 24px;
	height: 24px;
}

.ci-arrow-up-outlined {
	background-position: 46.2962962962963% 28.846153846153847%;
}

.ci-arrow-up-outlined-size {
	width: 24px;
	height: 24px;
}

.ci-article-filled {
	background-position: 46.2962962962963% 34.61538461538461%;
}

.ci-article-filled-size {
	width: 24px;
	height: 24px;
}

.ci-article-outlined {
	background-position: 46.2962962962963% 40.38461538461539%;
}

.ci-article-outlined-size {
	width: 24px;
	height: 24px;
}

.ci-bar-chart-outlined {
	background-position: 0 48.07692307692308%;
}

.ci-bar-chart-outlined-size {
	width: 24px;
	height: 24px;
}

.ci-bell-check-outlined {
	background-position: 5.555555555555555% 48.07692307692308%;
}

.ci-bell-check-outlined-size {
	width: 24px;
	height: 24px;
}

.ci-bell-dot-filled {
	background-position: 11.11111111111111% 48.07692307692308%;
}

.ci-bell-dot-filled-size {
	width: 24px;
	height: 24px;
}

.ci-bell-dot-outlined {
	background-position: 16.666666666666668% 48.07692307692308%;
}

.ci-bell-dot-outlined-size {
	width: 24px;
	height: 24px;
}

.ci-bell-filled {
	background-position: 22.22222222222222% 48.07692307692308%;
}

.ci-bell-filled-size {
	width: 24px;
	height: 24px;
}

.ci-bell-outlined {
	background-position: 27.77777777777778% 48.07692307692308%;
}

.ci-bell-outlined-size {
	width: 24px;
	height: 24px;
}

.ci-bell-plus-outlined {
	background-position: 33.333333333333336% 48.07692307692308%;
}

.ci-bell-plus-outlined-size {
	width: 24px;
	height: 24px;
}

.ci-bell-ringing-filled {
	background-position: 38.888888888888886% 48.07692307692308%;
}

.ci-bell-ringing-filled-size {
	width: 24px;
	height: 24px;
}

.ci-bell-ringing-outlined {
	background-position: 44.44444444444444% 48.07692307692308%;
}

.ci-bell-ringing-outlined-size {
	width: 24px;
	height: 24px;
}

.ci-blank {
	background-position: 51.851851851851855% 0;
}

.ci-blank-size {
	width: 24px;
	height: 24px;
}

.ci-block-align-center-outlined {
	background-position: 51.851851851851855% 5.769230769230769%;
}

.ci-block-align-center-outlined-size {
	width: 24px;
	height: 24px;
}

.ci-block-align-fw-outlined {
	background-position: 51.851851851851855% 11.538461538461538%;
}

.ci-block-align-fw-outlined-size {
	width: 24px;
	height: 24px;
}

.ci-block-align-left-outlined {
	background-position: 51.851851851851855% 17.307692307692307%;
}

.ci-block-align-left-outlined-size {
	width: 24px;
	height: 24px;
}

.ci-block-align-right-outlined {
	background-position: 51.851851851851855% 23.076923076923077%;
}

.ci-block-align-right-outlined-size {
	width: 24px;
	height: 24px;
}

.ci-block-caption-outlined {
	background-position: 51.851851851851855% 28.846153846153847%;
}

.ci-block-caption-outlined-size {
	width: 24px;
	height: 24px;
}

.ci-bold-outlined {
	background-position: 51.851851851851855% 34.61538461538461%;
}

.ci-bold-outlined-size {
	width: 24px;
	height: 24px;
}

.ci-book-filled {
	background-position: 51.851851851851855% 40.38461538461539%;
}

.ci-book-filled-size {
	width: 24px;
	height: 24px;
}

.ci-book-outlined {
	background-position: 51.851851851851855% 46.15384615384615%;
}

.ci-book-outlined-size {
	width: 24px;
	height: 24px;
}

.ci-bookmark-check-outlined {
	background-position: 0 53.84615384615385%;
}

.ci-bookmark-check-outlined-size {
	width: 24px;
	height: 24px;
}

.ci-bookmark-filled {
	background-position: 5.555555555555555% 53.84615384615385%;
}

.ci-bookmark-filled-size {
	width: 24px;
	height: 24px;
}

.ci-bookmark-outlined {
	background-position: 11.11111111111111% 53.84615384615385%;
}

.ci-bookmark-outlined-size {
	width: 24px;
	height: 24px;
}

.ci-bookmark-plus-outlined {
	background-position: 16.666666666666668% 53.84615384615385%;
}

.ci-bookmark-plus-outlined-size {
	width: 24px;
	height: 24px;
}

.ci-brush-brackets-outlined {
	background-position: 22.22222222222222% 53.84615384615385%;
}

.ci-brush-brackets-outlined-size {
	width: 24px;
	height: 24px;
}

.ci-calendar-pen-outlined {
	background-position: 23.14814814814815% 38.55421686746988%;
}

.ci-calendar-pen-outlined-size {
	width: 24px;
	height: 25px;
}

.ci-chat-filled {
	background-position: 27.77777777777778% 53.84615384615385%;
}

.ci-chat-filled-size {
	width: 24px;
	height: 24px;
}

.ci-chat-outlined {
	background-position: 33.333333333333336% 53.84615384615385%;
}

.ci-chat-outlined-size {
	width: 24px;
	height: 24px;
}

.ci-check-circle-filled {
	background-position: 38.888888888888886% 53.84615384615385%;
}

.ci-check-circle-filled-size {
	width: 24px;
	height: 24px;
}

.ci-check-circle-outlined {
	background-position: 44.44444444444444% 53.84615384615385%;
}

.ci-check-circle-outlined-size {
	width: 24px;
	height: 24px;
}

.ci-check-outlined {
	background-position: 50% 53.84615384615385%;
}

.ci-check-outlined-size {
	width: 24px;
	height: 24px;
}

.ci-chevron-down-outlined {
	background-position: 57.407407407407405% 0;
}

.ci-chevron-down-outlined-size {
	width: 24px;
	height: 24px;
}

.ci-chevron-left-outlined {
	background-position: 57.407407407407405% 5.769230769230769%;
}

.ci-chevron-left-outlined-size {
	width: 24px;
	height: 24px;
}

.ci-chevron-right-outlined {
	background-position: 57.407407407407405% 11.538461538461538%;
}

.ci-chevron-right-outlined-size {
	width: 24px;
	height: 24px;
}

.ci-chevron-up-outlined {
	background-position: 57.407407407407405% 17.307692307692307%;
}

.ci-chevron-up-outlined-size {
	width: 24px;
	height: 24px;
}

.ci-clock-filled {
	background-position: 57.407407407407405% 23.076923076923077%;
}

.ci-clock-filled-size {
	width: 24px;
	height: 24px;
}

.ci-clock-outlined {
	background-position: 57.407407407407405% 28.846153846153847%;
}

.ci-clock-outlined-size {
	width: 24px;
	height: 24px;
}

.ci-comment-outlined {
	background-position: 57.407407407407405% 34.61538461538461%;
}

.ci-comment-outlined-size {
	width: 24px;
	height: 24px;
}

.ci-communities-filled {
	background-position: 57.407407407407405% 40.38461538461539%;
}

.ci-communities-filled-size {
	width: 24px;
	height: 24px;
}

.ci-communities-outlined {
	background-position: 57.407407407407405% 46.15384615384615%;
}

.ci-communities-outlined-size {
	width: 24px;
	height: 24px;
}

.ci-compass-outlined {
	background-position: 57.407407407407405% 51.92307692307692%;
}

.ci-compass-outlined-size {
	width: 24px;
	height: 24px;
}

.ci-content-filled {
	background-position: 0 59.61538461538461%;
}

.ci-content-filled-size {
	width: 24px;
	height: 24px;
}

.ci-content-outlined {
	background-position: 5.555555555555555% 59.61538461538461%;
}

.ci-content-outlined-size {
	width: 24px;
	height: 24px;
}

.ci-copy-outlined {
	background-position: 11.11111111111111% 59.61538461538461%;
}

.ci-copy-outlined-size {
	width: 24px;
	height: 24px;
}

.ci-cross-circle-filled {
	background-position: 16.666666666666668% 59.61538461538461%;
}

.ci-cross-circle-filled-size {
	width: 24px;
	height: 24px;
}

.ci-cross-circle-outlined {
	background-position: 22.22222222222222% 59.61538461538461%;
}

.ci-cross-circle-outlined-size {
	width: 24px;
	height: 24px;
}

.ci-cross-outlined {
	background-position: 27.77777777777778% 59.61538461538461%;
}

.ci-cross-outlined-size {
	width: 24px;
	height: 24px;
}

.ci-cross-square-filled {
	background-position: 33.333333333333336% 59.61538461538461%;
}

.ci-cross-square-filled-size {
	width: 24px;
	height: 24px;
}

.ci-cross-square-outlined {
	background-position: 38.888888888888886% 59.61538461538461%;
}

.ci-cross-square-outlined-size {
	width: 24px;
	height: 24px;
}

.ci-danger-filled {
	background-position: 44.44444444444444% 59.61538461538461%;
}

.ci-danger-filled-size {
	width: 24px;
	height: 24px;
}

.ci-danger-outlined {
	background-position: 50% 59.61538461538461%;
}

.ci-danger-outlined-size {
	width: 24px;
	height: 24px;
}

.ci-dots-circle-outlined {
	background-position: 55.55555555555556% 59.61538461538461%;
}

.ci-dots-circle-outlined-size {
	width: 24px;
	height: 24px;
}

.ci-download-outlined {
	background-position: 62.96296296296296% 0;
}

.ci-download-outlined-size {
	width: 24px;
	height: 24px;
}

.ci-earth-outlined {
	background-position: 62.96296296296296% 5.769230769230769%;
}

.ci-earth-outlined-size {
	width: 24px;
	height: 24px;
}

.ci-events-filled {
	background-position: 62.96296296296296% 11.538461538461538%;
}

.ci-events-filled-size {
	width: 24px;
	height: 24px;
}

.ci-events-outlined {
	background-position: 62.96296296296296% 17.307692307692307%;
}

.ci-events-outlined-size {
	width: 24px;
	height: 24px;
}

.ci-external-link-outlined {
	background-position: 62.96296296296296% 23.076923076923077%;
}

.ci-external-link-outlined-size {
	width: 24px;
	height: 24px;
}

.ci-eye-closed-outlined {
	background-position: 62.96296296296296% 28.846153846153847%;
}

.ci-eye-closed-outlined-size {
	width: 24px;
	height: 24px;
}

.ci-eye-open-outlined {
	background-position: 62.96296296296296% 34.61538461538461%;
}

.ci-eye-open-outlined-size {
	width: 24px;
	height: 24px;
}

.ci-facebook {
	background-position: 62.96296296296296% 40.38461538461539%;
}

.ci-facebook-size {
	width: 24px;
	height: 24px;
}

.ci-feed-filled {
	background-position: 62.96296296296296% 46.15384615384615%;
}

.ci-feed-filled-size {
	width: 24px;
	height: 24px;
}

.ci-feed-outlined {
	background-position: 62.96296296296296% 51.92307692307692%;
}

.ci-feed-outlined-size {
	width: 24px;
	height: 24px;
}

.ci-filter-outlined {
	background-position: 62.96296296296296% 57.69230769230769%;
}

.ci-filter-outlined-size {
	width: 24px;
	height: 24px;
}

.ci-fingerprint-outlined {
	background-position: 0 65.38461538461539%;
}

.ci-fingerprint-outlined-size {
	width: 24px;
	height: 24px;
}

.ci-flash-circle-outlined {
	background-position: 5.555555555555555% 65.38461538461539%;
}

.ci-flash-circle-outlined-size {
	width: 24px;
	height: 24px;
}

.ci-flash-outlined {
	background-position: 11.11111111111111% 65.38461538461539%;
}

.ci-flash-outlined-size {
	width: 24px;
	height: 24px;
}

.ci-folder-minus-outlined {
	background-position: 16.666666666666668% 65.38461538461539%;
}

.ci-folder-minus-outlined-size {
	width: 24px;
	height: 24px;
}

.ci-folder-outlined {
	background-position: 22.22222222222222% 65.38461538461539%;
}

.ci-folder-outlined-size {
	width: 24px;
	height: 24px;
}

.ci-folder-plus-outlined {
	background-position: 27.77777777777778% 65.38461538461539%;
}

.ci-folder-plus-outlined-size {
	width: 24px;
	height: 24px;
}

.ci-gift-outlined {
	background-position: 33.333333333333336% 65.38461538461539%;
}

.ci-gift-outlined-size {
	width: 24px;
	height: 24px;
}

.ci-globe-outlined {
	background-position: 38.888888888888886% 65.38461538461539%;
}

.ci-globe-outlined-size {
	width: 24px;
	height: 24px;
}

.ci-google {
	background-position: 44.44444444444444% 65.38461538461539%;
}

.ci-google-size {
	width: 24px;
	height: 24px;
}

.ci-google-calendar {
	background-position: 50% 65.38461538461539%;
}

.ci-google-calendar-size {
	width: 24px;
	height: 24px;
}

.ci-google-chrome {
	background-position: 55.55555555555556% 65.38461538461539%;
}

.ci-google-chrome-size {
	width: 24px;
	height: 24px;
}

.ci-google-drive {
	background-position: 61.111111111111114% 65.38461538461539%;
}

.ci-google-drive-size {
	width: 24px;
	height: 24px;
}

.ci-google-mail {
	background-position: 68.51851851851852% 0;
}

.ci-google-mail-size {
	width: 24px;
	height: 24px;
}

.ci-gradient-outlined {
	background-position: 68.51851851851852% 5.769230769230769%;
}

.ci-gradient-outlined-size {
	width: 24px;
	height: 24px;
}

.ci-group-outlined {
	background-position: 68.51851851851852% 11.538461538461538%;
}

.ci-group-outlined-size {
	width: 24px;
	height: 24px;
}

.ci-haiilo-home {
	background-position: 68.51851851851852% 17.307692307692307%;
}

.ci-haiilo-home-size {
	width: 24px;
	height: 24px;
}

.ci-haiilo-insights {
	background-position: 68.51851851851852% 23.076923076923077%;
}

.ci-haiilo-insights-size {
	width: 24px;
	height: 24px;
}

.ci-haiilo-outlined {
	background-position: 68.51851851851852% 28.846153846153847%;
}

.ci-haiilo-outlined-size {
	width: 24px;
	height: 24px;
}

.ci-haiilo-share {
	background-position: 68.51851851851852% 34.61538461538461%;
}

.ci-haiilo-share-size {
	width: 24px;
	height: 24px;
}

.ci-haiilo-stories {
	background-position: 68.51851851851852% 40.38461538461539%;
}

.ci-haiilo-stories-size {
	width: 24px;
	height: 24px;
}

.ci-hashtag-outlined {
	background-position: 68.51851851851852% 46.15384615384615%;
}

.ci-hashtag-outlined-size {
	width: 24px;
	height: 24px;
}

.ci-history-outlined {
	background-position: 68.51851851851852% 51.92307692307692%;
}

.ci-history-outlined-size {
	width: 24px;
	height: 24px;
}

.ci-home-filled {
	background-position: 68.51851851851852% 57.69230769230769%;
}

.ci-home-filled-size {
	width: 24px;
	height: 24px;
}

.ci-home-outlined {
	background-position: 68.51851851851852% 63.46153846153846%;
}

.ci-home-outlined-size {
	width: 24px;
	height: 24px;
}

.ci-info-circle-filled {
	background-position: 0 71.15384615384616%;
}

.ci-info-circle-filled-size {
	width: 24px;
	height: 24px;
}

.ci-info-circle-outlined {
	background-position: 5.555555555555555% 71.15384615384616%;
}

.ci-info-circle-outlined-size {
	width: 24px;
	height: 24px;
}

.ci-instagram {
	background-position: 11.11111111111111% 71.15384615384616%;
}

.ci-instagram-size {
	width: 24px;
	height: 24px;
}

.ci-italic-outlined {
	background-position: 16.666666666666668% 71.15384615384616%;
}

.ci-italic-outlined-size {
	width: 24px;
	height: 24px;
}

.ci-layers-filled {
	background-position: 22.22222222222222% 71.15384615384616%;
}

.ci-layers-filled-size {
	width: 24px;
	height: 24px;
}

.ci-layers-outlined {
	background-position: 27.77777777777778% 71.15384615384616%;
}

.ci-layers-outlined-size {
	width: 24px;
	height: 24px;
}

.ci-likes-circle-filled {
	background-position: 33.333333333333336% 71.15384615384616%;
}

.ci-likes-circle-filled-size {
	width: 24px;
	height: 24px;
}

.ci-link-break-outlined {
	background-position: 38.888888888888886% 71.15384615384616%;
}

.ci-link-break-outlined-size {
	width: 24px;
	height: 24px;
}

.ci-link-outlined {
	background-position: 44.44444444444444% 71.15384615384616%;
}

.ci-link-outlined-size {
	width: 24px;
	height: 24px;
}

.ci-linkedin {
	background-position: 50% 71.15384615384616%;
}

.ci-linkedin-size {
	width: 24px;
	height: 24px;
}

.ci-list-ordered-outlined {
	background-position: 55.55555555555556% 71.15384615384616%;
}

.ci-list-ordered-outlined-size {
	width: 24px;
	height: 24px;
}

.ci-list-unordered-outlined {
	background-position: 61.111111111111114% 71.15384615384616%;
}

.ci-list-unordered-outlined-size {
	width: 24px;
	height: 24px;
}

.ci-location-outlined {
	background-position: 66.66666666666667% 71.15384615384616%;
}

.ci-location-outlined-size {
	width: 24px;
	height: 24px;
}

.ci-lock-filled {
	background-position: 74.07407407407408% 0;
}

.ci-lock-filled-size {
	width: 24px;
	height: 24px;
}

.ci-lock-open-filled {
	background-position: 74.07407407407408% 5.769230769230769%;
}

.ci-lock-open-filled-size {
	width: 24px;
	height: 24px;
}

.ci-lock-open-outlined {
	background-position: 74.07407407407408% 11.538461538461538%;
}

.ci-lock-open-outlined-size {
	width: 24px;
	height: 24px;
}

.ci-lock-outlined {
	background-position: 74.07407407407408% 17.307692307692307%;
}

.ci-lock-outlined-size {
	width: 24px;
	height: 24px;
}

.ci-mail-open-outlined {
	background-position: 74.07407407407408% 23.076923076923077%;
}

.ci-mail-open-outlined-size {
	width: 24px;
	height: 24px;
}

.ci-mail-outlined {
	background-position: 74.07407407407408% 28.846153846153847%;
}

.ci-mail-outlined-size {
	width: 24px;
	height: 24px;
}

.ci-marketplace-filled {
	background-position: 74.07407407407408% 34.61538461538461%;
}

.ci-marketplace-filled-size {
	width: 24px;
	height: 24px;
}

.ci-marketplace-outlined {
	background-position: 74.07407407407408% 40.38461538461539%;
}

.ci-marketplace-outlined-size {
	width: 24px;
	height: 24px;
}

.ci-maybe-circle-outlined {
	background-position: 74.07407407407408% 46.15384615384615%;
}

.ci-maybe-circle-outlined-size {
	width: 24px;
	height: 24px;
}

.ci-megaphone-filled {
	background-position: 74.07407407407408% 51.92307692307692%;
}

.ci-megaphone-filled-size {
	width: 24px;
	height: 24px;
}

.ci-megaphone-outlined {
	background-position: 74.07407407407408% 57.69230769230769%;
}

.ci-megaphone-outlined-size {
	width: 24px;
	height: 24px;
}

.ci-menu-left-outlined {
	background-position: 74.07407407407408% 63.46153846153846%;
}

.ci-menu-left-outlined-size {
	width: 24px;
	height: 24px;
}

.ci-menu-outlined {
	background-position: 74.07407407407408% 69.23076923076923%;
}

.ci-menu-outlined-size {
	width: 24px;
	height: 24px;
}

.ci-menu-right-outlined {
	background-position: 0 76.92307692307692%;
}

.ci-menu-right-outlined-size {
	width: 24px;
	height: 24px;
}

.ci-microsoft {
	background-position: 5.555555555555555% 76.92307692307692%;
}

.ci-microsoft-size {
	width: 24px;
	height: 24px;
}

.ci-microsoft-edge {
	background-position: 11.11111111111111% 76.92307692307692%;
}

.ci-microsoft-edge-size {
	width: 24px;
	height: 24px;
}

.ci-microsoft-excel {
	background-position: 16.666666666666668% 76.92307692307692%;
}

.ci-microsoft-excel-size {
	width: 24px;
	height: 24px;
}

.ci-microsoft-onenote {
	background-position: 22.22222222222222% 76.92307692307692%;
}

.ci-microsoft-onenote-size {
	width: 24px;
	height: 24px;
}

.ci-microsoft-outlook {
	background-position: 27.77777777777778% 76.92307692307692%;
}

.ci-microsoft-outlook-size {
	width: 24px;
	height: 24px;
}

.ci-microsoft-planner {
	background-position: 33.333333333333336% 76.92307692307692%;
}

.ci-microsoft-planner-size {
	width: 24px;
	height: 24px;
}

.ci-microsoft-powerpoint {
	background-position: 38.888888888888886% 76.92307692307692%;
}

.ci-microsoft-powerpoint-size {
	width: 24px;
	height: 24px;
}

.ci-microsoft-sharepoint {
	background-position: 44.44444444444444% 76.92307692307692%;
}

.ci-microsoft-sharepoint-size {
	width: 24px;
	height: 24px;
}

.ci-microsoft-teams {
	background-position: 50% 76.92307692307692%;
}

.ci-microsoft-teams-size {
	width: 24px;
	height: 24px;
}

.ci-microsoft-word {
	background-position: 55.55555555555556% 76.92307692307692%;
}

.ci-microsoft-word-size {
	width: 24px;
	height: 24px;
}

.ci-microsoft-yammer {
	background-position: 61.111111111111114% 76.92307692307692%;
}

.ci-microsoft-yammer-size {
	width: 24px;
	height: 24px;
}

.ci-more-horizontal-filled {
	background-position: 66.66666666666667% 76.92307692307692%;
}

.ci-more-horizontal-filled-size {
	width: 24px;
	height: 24px;
}

.ci-mozilla-firefox {
	background-position: 72.22222222222223% 76.92307692307692%;
}

.ci-mozilla-firefox-size {
	width: 24px;
	height: 24px;
}

.ci-paperclip-box-outlined {
	background-position: 79.62962962962963% 0;
}

.ci-paperclip-box-outlined-size {
	width: 24px;
	height: 24px;
}

.ci-paperclip-outlined {
	background-position: 79.62962962962963% 5.769230769230769%;
}

.ci-paperclip-outlined-size {
	width: 24px;
	height: 24px;
}

.ci-paperplane-tilt-outlined {
	background-position: 79.62962962962963% 11.538461538461538%;
}

.ci-paperplane-tilt-outlined-size {
	width: 24px;
	height: 24px;
}

.ci-pen-outlined {
	background-position: 79.62962962962963% 17.307692307692307%;
}

.ci-pen-outlined-size {
	width: 24px;
	height: 24px;
}

.ci-photo-add-outlined {
	background-position: 79.62962962962963% 23.076923076923077%;
}

.ci-photo-add-outlined-size {
	width: 24px;
	height: 24px;
}

.ci-photo-filled {
	background-position: 79.62962962962963% 28.846153846153847%;
}

.ci-photo-filled-size {
	width: 24px;
	height: 24px;
}

.ci-photo-outlined {
	background-position: 79.62962962962963% 34.61538461538461%;
}

.ci-photo-outlined-size {
	width: 24px;
	height: 24px;
}

.ci-photo-remove-outlined {
	background-position: 79.62962962962963% 40.38461538461539%;
}

.ci-photo-remove-outlined-size {
	width: 24px;
	height: 24px;
}

.ci-planet-filled {
	background-position: 79.62962962962963% 46.15384615384615%;
}

.ci-planet-filled-size {
	width: 24px;
	height: 24px;
}

.ci-planet-outlined {
	background-position: 79.62962962962963% 51.92307692307692%;
}

.ci-planet-outlined-size {
	width: 24px;
	height: 24px;
}

.ci-plus-circle-filled {
	background-position: 79.62962962962963% 57.69230769230769%;
}

.ci-plus-circle-filled-size {
	width: 24px;
	height: 24px;
}

.ci-plus-circle-outlined {
	background-position: 79.62962962962963% 63.46153846153846%;
}

.ci-plus-circle-outlined-size {
	width: 24px;
	height: 24px;
}

.ci-plus-outlined {
	background-position: 79.62962962962963% 69.23076923076923%;
}

.ci-plus-outlined-size {
	width: 24px;
	height: 24px;
}

.ci-plus-square-filled {
	background-position: 79.62962962962963% 75%;
}

.ci-plus-square-filled-size {
	width: 24px;
	height: 24px;
}

.ci-plus-square-outlined {
	background-position: 0 82.6923076923077%;
}

.ci-plus-square-outlined-size {
	width: 24px;
	height: 24px;
}

.ci-printer-filled {
	background-position: 5.555555555555555% 82.6923076923077%;
}

.ci-printer-filled-size {
	width: 24px;
	height: 24px;
}

.ci-printer-outlined {
	background-position: 11.11111111111111% 82.6923076923077%;
}

.ci-printer-outlined-size {
	width: 24px;
	height: 24px;
}

.ci-profile-box-outlined {
	background-position: 16.666666666666668% 82.6923076923077%;
}

.ci-profile-box-outlined-size {
	width: 24px;
	height: 24px;
}

.ci-profile-circle-outlined {
	background-position: 22.22222222222222% 82.6923076923077%;
}

.ci-profile-circle-outlined-size {
	width: 24px;
	height: 24px;
}

.ci-profiles-filled {
	background-position: 27.77777777777778% 82.6923076923077%;
}

.ci-profiles-filled-size {
	width: 24px;
	height: 24px;
}

.ci-profiles-outlined {
	background-position: 33.333333333333336% 82.6923076923077%;
}

.ci-profiles-outlined-size {
	width: 24px;
	height: 24px;
}

.ci-puzzle-piece-outlined {
	background-position: 38.888888888888886% 82.6923076923077%;
}

.ci-puzzle-piece-outlined-size {
	width: 24px;
	height: 24px;
}

.ci-question-mark-circle-outlined {
	background-position: 44.44444444444444% 82.6923076923077%;
}

.ci-question-mark-circle-outlined-size {
	width: 24px;
	height: 24px;
}

.ci-quote-outlined {
	background-position: 50% 82.6923076923077%;
}

.ci-quote-outlined-size {
	width: 24px;
	height: 24px;
}

.ci-reading-glasses-filled {
	background-position: 55.55555555555556% 82.6923076923077%;
}

.ci-reading-glasses-filled-size {
	width: 24px;
	height: 24px;
}

.ci-reading-glasses-outlined {
	background-position: 61.111111111111114% 82.6923076923077%;
}

.ci-reading-glasses-outlined-size {
	width: 24px;
	height: 24px;
}

.ci-redo-outlined {
	background-position: 66.66666666666667% 82.6923076923077%;
}

.ci-redo-outlined-size {
	width: 24px;
	height: 24px;
}

.ci-restart-outlined {
	background-position: 72.22222222222223% 82.6923076923077%;
}

.ci-restart-outlined-size {
	width: 24px;
	height: 24px;
}

.ci-search-filled {
	background-position: 77.77777777777777% 82.6923076923077%;
}

.ci-search-filled-size {
	width: 24px;
	height: 24px;
}

.ci-search-outlined {
	background-position: 85.18518518518519% 0;
}

.ci-search-outlined-size {
	width: 24px;
	height: 24px;
}

.ci-search-restart-outlined {
	background-position: 85.18518518518519% 5.769230769230769%;
}

.ci-search-restart-outlined-size {
	width: 24px;
	height: 24px;
}

.ci-settings-outlined {
	background-position: 85.18518518518519% 11.538461538461538%;
}

.ci-settings-outlined-size {
	width: 24px;
	height: 24px;
}

.ci-share-filled {
	background-position: 85.18518518518519% 17.307692307692307%;
}

.ci-share-filled-size {
	width: 24px;
	height: 24px;
}

.ci-share-outlined {
	background-position: 85.18518518518519% 23.076923076923077%;
}

.ci-share-outlined-size {
	width: 24px;
	height: 24px;
}

.ci-sign-in-outlined {
	background-position: 85.18518518518519% 28.846153846153847%;
}

.ci-sign-in-outlined-size {
	width: 24px;
	height: 24px;
}

.ci-sign-out-outlined {
	background-position: 85.18518518518519% 34.61538461538461%;
}

.ci-sign-out-outlined-size {
	width: 24px;
	height: 24px;
}

.ci-signal-outlined {
	background-position: 85.18518518518519% 40.38461538461539%;
}

.ci-signal-outlined-size {
	width: 24px;
	height: 24px;
}

.ci-slack {
	background-position: 85.18518518518519% 46.15384615384615%;
}

.ci-slack-size {
	width: 24px;
	height: 24px;
}

.ci-sliders-outlined {
	background-position: 85.18518518518519% 51.92307692307692%;
}

.ci-sliders-outlined-size {
	width: 24px;
	height: 24px;
}

.ci-smile {
	background-position: 85.18518518518519% 57.69230769230769%;
}

.ci-smile-size {
	width: 24px;
	height: 24px;
}

.ci-social-media-outlined {
	background-position: 85.18518518518519% 63.46153846153846%;
}

.ci-social-media-outlined-size {
	width: 24px;
	height: 24px;
}

.ci-sp-grid-2-cols {
	background-position: 0 0;
}

.ci-sp-grid-2-cols-size {
	width: 100px;
	height: 40px;
}

.ci-sp-grid-3-cols {
	background-position: 0 10%;
}

.ci-sp-grid-3-cols-size {
	width: 100px;
	height: 40px;
}

.ci-sp-grid-4-cols {
	background-position: 28.089887640449437% 0;
}

.ci-sp-grid-4-cols-size {
	width: 100px;
	height: 40px;
}

.ci-sp-grid-full {
	background-position: 28.089887640449437% 10%;
}

.ci-sp-grid-full-size {
	width: 100px;
	height: 40px;
}

.ci-sp-grid-sidebar-left {
	background-position: 0 20%;
}

.ci-sp-grid-sidebar-left-size {
	width: 100px;
	height: 40px;
}

.ci-sp-grid-sidebar-left-lg {
	background-position: 28.089887640449437% 20%;
}

.ci-sp-grid-sidebar-left-lg-size {
	width: 100px;
	height: 40px;
}

.ci-sp-grid-sidebar-right {
	background-position: 0 30%;
}

.ci-sp-grid-sidebar-right-size {
	width: 100px;
	height: 40px;
}

.ci-sp-grid-sidebar-right-lg {
	background-position: 28.089887640449437% 30%;
}

.ci-sp-grid-sidebar-right-lg-size {
	width: 100px;
	height: 40px;
}

.ci-sp-grid-social {
	background-position: 0 40%;
}

.ci-sp-grid-social-size {
	width: 100px;
	height: 40px;
}

.ci-sparkle-filled {
	background-position: 85.18518518518519% 69.23076923076923%;
}

.ci-sparkle-filled-size {
	width: 24px;
	height: 24px;
}

.ci-sparkle-outlined {
	background-position: 85.18518518518519% 75%;
}

.ci-sparkle-outlined-size {
	width: 24px;
	height: 24px;
}

.ci-star-circle-filled {
	background-position: 85.18518518518519% 80.76923076923077%;
}

.ci-star-circle-filled-size {
	width: 24px;
	height: 24px;
}

.ci-star-circle-outlined {
	background-position: 0 88.46153846153847%;
}

.ci-star-circle-outlined-size {
	width: 24px;
	height: 24px;
}

.ci-status-available {
	background-position: 5.555555555555555% 88.46153846153847%;
}

.ci-status-available-size {
	width: 24px;
	height: 24px;
}

.ci-status-away {
	background-position: 11.11111111111111% 88.46153846153847%;
}

.ci-status-away-size {
	width: 24px;
	height: 24px;
}

.ci-status-dnd {
	background-position: 16.666666666666668% 88.46153846153847%;
}

.ci-status-dnd-size {
	width: 24px;
	height: 24px;
}

.ci-status-invisible {
	background-position: 22.22222222222222% 88.46153846153847%;
}

.ci-status-invisible-size {
	width: 24px;
	height: 24px;
}

.ci-status-ooo {
	background-position: 27.77777777777778% 88.46153846153847%;
}

.ci-status-ooo-size {
	width: 24px;
	height: 24px;
}

.ci-sticker-filled {
	background-position: 33.333333333333336% 88.46153846153847%;
}

.ci-sticker-filled-size {
	width: 24px;
	height: 24px;
}

.ci-sticker-outlined {
	background-position: 38.888888888888886% 88.46153846153847%;
}

.ci-sticker-outlined-size {
	width: 24px;
	height: 24px;
}

.ci-stream-filled {
	background-position: 44.44444444444444% 88.46153846153847%;
}

.ci-stream-filled-size {
	width: 24px;
	height: 24px;
}

.ci-stream-outlined {
	background-position: 50% 88.46153846153847%;
}

.ci-stream-outlined-size {
	width: 24px;
	height: 24px;
}

.ci-strikethrough-outlined {
	background-position: 55.55555555555556% 88.46153846153847%;
}

.ci-strikethrough-outlined-size {
	width: 24px;
	height: 24px;
}

.ci-tag-outlined {
	background-position: 61.111111111111114% 88.46153846153847%;
}

.ci-tag-outlined-size {
	width: 24px;
	height: 24px;
}

.ci-targeted-outlined {
	background-position: 66.66666666666667% 88.46153846153847%;
}

.ci-targeted-outlined-size {
	width: 24px;
	height: 24px;
}

.ci-thumbs-up-filled {
	background-position: 72.22222222222223% 88.46153846153847%;
}

.ci-thumbs-up-filled-size {
	width: 24px;
	height: 24px;
}

.ci-thumbs-up-outlined {
	background-position: 77.77777777777777% 88.46153846153847%;
}

.ci-thumbs-up-outlined-size {
	width: 24px;
	height: 24px;
}

.ci-translate-box-filled {
	background-position: 83.33333333333333% 88.46153846153847%;
}

.ci-translate-box-filled-size {
	width: 24px;
	height: 24px;
}

.ci-translate-box-outlined {
	background-position: 90.74074074074075% 0;
}

.ci-translate-box-outlined-size {
	width: 24px;
	height: 24px;
}

.ci-translate-outlined {
	background-position: 90.74074074074075% 5.769230769230769%;
}

.ci-translate-outlined-size {
	width: 24px;
	height: 24px;
}

.ci-trash-filled {
	background-position: 90.74074074074075% 11.538461538461538%;
}

.ci-trash-filled-size {
	width: 24px;
	height: 24px;
}

.ci-trash-outlined {
	background-position: 90.74074074074075% 17.307692307692307%;
}

.ci-trash-outlined-size {
	width: 24px;
	height: 24px;
}

.ci-twitter {
	background-position: 90.74074074074075% 23.076923076923077%;
}

.ci-twitter-size {
	width: 24px;
	height: 24px;
}

.ci-underlined-outlined {
	background-position: 90.74074074074075% 28.846153846153847%;
}

.ci-underlined-outlined-size {
	width: 24px;
	height: 24px;
}

.ci-undo-outlined {
	background-position: 90.74074074074075% 34.61538461538461%;
}

.ci-undo-outlined-size {
	width: 24px;
	height: 24px;
}

.ci-upload-outlined {
	background-position: 90.74074074074075% 40.38461538461539%;
}

.ci-upload-outlined-size {
	width: 24px;
	height: 24px;
}

.ci-video-camera-filled {
	background-position: 90.74074074074075% 46.15384615384615%;
}

.ci-video-camera-filled-size {
	width: 24px;
	height: 24px;
}

.ci-video-camera-outlined {
	background-position: 90.74074074074075% 51.92307692307692%;
}

.ci-video-camera-outlined-size {
	width: 24px;
	height: 24px;
}

.ci-w-alert-outlined {
	background-position: 90.74074074074075% 57.69230769230769%;
}

.ci-w-alert-outlined-size {
	width: 24px;
	height: 24px;
}

.ci-w-birthdays-upcoming-outlined {
	background-position: 90.74074074074075% 63.46153846153846%;
}

.ci-w-birthdays-upcoming-outlined-size {
	width: 24px;
	height: 24px;
}

.ci-w-blog-article-new-outlined {
	background-position: 90.74074074074075% 69.23076923076923%;
}

.ci-w-blog-article-new-outlined-size {
	width: 24px;
	height: 24px;
}

.ci-w-blog-article-outlined {
	background-position: 90.74074074074075% 75%;
}

.ci-w-blog-article-outlined-size {
	width: 24px;
	height: 24px;
}

.ci-w-blog-article-recommended-outlined {
	background-position: 90.74074074074075% 80.76923076923077%;
}

.ci-w-blog-article-recommended-outlined-size {
	width: 24px;
	height: 24px;
}

.ci-w-bookmarks-outlined {
	background-position: 90.74074074074075% 86.53846153846153%;
}

.ci-w-bookmarks-outlined-size {
	width: 24px;
	height: 24px;
}

.ci-w-button-outlined {
	background-position: 0 94.23076923076923%;
}

.ci-w-button-outlined-size {
	width: 24px;
	height: 24px;
}

.ci-w-colleagues-new-outlined {
	background-position: 5.555555555555555% 94.23076923076923%;
}

.ci-w-colleagues-new-outlined-size {
	width: 24px;
	height: 24px;
}

.ci-w-complete-profile-outlined {
	background-position: 11.11111111111111% 94.23076923076923%;
}

.ci-w-complete-profile-outlined-size {
	width: 24px;
	height: 24px;
}

.ci-w-divider-outlined {
	background-position: 16.666666666666668% 94.23076923076923%;
}

.ci-w-divider-outlined-size {
	width: 24px;
	height: 24px;
}

.ci-w-do-you-know-outlined {
	background-position: 22.22222222222222% 94.23076923076923%;
}

.ci-w-do-you-know-outlined-size {
	width: 24px;
	height: 24px;
}

.ci-w-document-outlined {
	background-position: 27.77777777777778% 94.23076923076923%;
}

.ci-w-document-outlined-size {
	width: 24px;
	height: 24px;
}

.ci-w-documents-m-365-outlined {
	background-position: 33.333333333333336% 94.23076923076923%;
}

.ci-w-documents-m-365-outlined-size {
	width: 24px;
	height: 24px;
}

.ci-w-documents-new-outlined {
	background-position: 38.888888888888886% 94.23076923076923%;
}

.ci-w-documents-new-outlined-size {
	width: 24px;
	height: 24px;
}

.ci-w-download-outlined {
	background-position: 44.44444444444444% 94.23076923076923%;
}

.ci-w-download-outlined-size {
	width: 24px;
	height: 24px;
}

.ci-w-events-upcoming-outlined {
	background-position: 50% 94.23076923076923%;
}

.ci-w-events-upcoming-outlined-size {
	width: 24px;
	height: 24px;
}

.ci-w-facegame-outlined {
	background-position: 55.55555555555556% 94.23076923076923%;
}

.ci-w-facegame-outlined-size {
	width: 24px;
	height: 24px;
}

.ci-w-feed-outlined {
	background-position: 61.111111111111114% 94.23076923076923%;
}

.ci-w-feed-outlined-size {
	width: 24px;
	height: 24px;
}

.ci-w-gallery-outlined {
	background-position: 66.66666666666667% 94.23076923076923%;
}

.ci-w-gallery-outlined-size {
	width: 24px;
	height: 24px;
}

.ci-w-hashtags-outlined {
	background-position: 72.22222222222223% 94.23076923076923%;
}

.ci-w-hashtags-outlined-size {
	width: 24px;
	height: 24px;
}

.ci-w-headline-outlined {
	background-position: 77.77777777777777% 94.23076923076923%;
}

.ci-w-headline-outlined-size {
	width: 24px;
	height: 24px;
}

.ci-w-hero-teaser-outlined {
	background-position: 83.33333333333333% 94.23076923076923%;
}

.ci-w-hero-teaser-outlined-size {
	width: 24px;
	height: 24px;
}

.ci-w-html-outlined {
	background-position: 88.88888888888889% 94.23076923076923%;
}

.ci-w-html-outlined-size {
	width: 24px;
	height: 24px;
}

.ci-w-iframe-outlined {
	background-position: 96.29629629629629% 0;
}

.ci-w-iframe-outlined-size {
	width: 24px;
	height: 24px;
}

.ci-w-image-outlined {
	background-position: 96.29629629629629% 5.769230769230769%;
}

.ci-w-image-outlined-size {
	width: 24px;
	height: 24px;
}

.ci-w-launchpad-outlined {
	background-position: 96.29629629629629% 11.538461538461538%;
}

.ci-w-launchpad-outlined-size {
	width: 24px;
	height: 24px;
}

.ci-w-media-outlined {
	background-position: 96.29629629629629% 17.307692307692307%;
}

.ci-w-media-outlined-size {
	width: 24px;
	height: 24px;
}

.ci-w-online-users-outlined {
	background-position: 96.29629629629629% 23.076923076923077%;
}

.ci-w-online-users-outlined-size {
	width: 24px;
	height: 24px;
}

.ci-w-plugin-trello-outlined {
	background-position: 96.29629629629629% 28.846153846153847%;
}

.ci-w-plugin-trello-outlined-size {
	width: 24px;
	height: 24px;
}

.ci-w-plugin-twitter-outlined {
	background-position: 96.29629629629629% 34.61538461538461%;
}

.ci-w-plugin-twitter-outlined-size {
	width: 24px;
	height: 24px;
}

.ci-w-poll-outlined {
	background-position: 96.29629629629629% 40.38461538461539%;
}

.ci-w-poll-outlined-size {
	width: 24px;
	height: 24px;
}

.ci-w-profile-outlined {
	background-position: 96.29629629629629% 46.15384615384615%;
}

.ci-w-profile-outlined-size {
	width: 24px;
	height: 24px;
}

.ci-w-rss-feed-outlined {
	background-position: 96.29629629629629% 51.92307692307692%;
}

.ci-w-rss-feed-outlined-size {
	width: 24px;
	height: 24px;
}

.ci-w-subscriptions-outlined {
	background-position: 96.29629629629629% 57.69230769230769%;
}

.ci-w-subscriptions-outlined-size {
	width: 24px;
	height: 24px;
}

.ci-w-suggested-communities-outlined {
	background-position: 96.29629629629629% 63.46153846153846%;
}

.ci-w-suggested-communities-outlined-size {
	width: 24px;
	height: 24px;
}

.ci-w-suggested-pages-outlined {
	background-position: 96.29629629629629% 69.23076923076923%;
}

.ci-w-suggested-pages-outlined-size {
	width: 24px;
	height: 24px;
}

.ci-w-teaser-outlined {
	background-position: 96.29629629629629% 75%;
}

.ci-w-teaser-outlined-size {
	width: 24px;
	height: 24px;
}

.ci-w-text-outlined {
	background-position: 96.29629629629629% 80.76923076923077%;
}

.ci-w-text-outlined-size {
	width: 24px;
	height: 24px;
}

.ci-w-video-outlined {
	background-position: 96.29629629629629% 86.53846153846153%;
}

.ci-w-video-outlined-size {
	width: 24px;
	height: 24px;
}

.ci-w-welcome-outlined {
	background-position: 96.29629629629629% 92.3076923076923%;
}

.ci-w-welcome-outlined-size {
	width: 24px;
	height: 24px;
}

.ci-w-wiki-article-new-outlined {
	background-position: 0 100%;
}

.ci-w-wiki-article-new-outlined-size {
	width: 24px;
	height: 24px;
}

.ci-w-wiki-article-outlined {
	background-position: 5.555555555555555% 100%;
}

.ci-w-wiki-article-outlined-size {
	width: 24px;
	height: 24px;
}

.ci-wechat {
	background-position: 11.11111111111111% 100%;
}

.ci-wechat-size {
	width: 24px;
	height: 24px;
}

.ci-write-outlined {
	background-position: 16.666666666666668% 100%;
}

.ci-write-outlined-size {
	width: 24px;
	height: 24px;
}

.ci-xing {
	background-position: 22.22222222222222% 100%;
}

.ci-xing-size {
	width: 24px;
	height: 24px;
}

