.ci {
	background: url("../svg/sprite.css.svg") no-repeat;
}

.ci-16-chevron-down {
	background-position: 97.29729729729729% 44.11764705882353%;
}

.ci-16-chevron-down-size {
	width: 16px;
	height: 16px;
}

.ci-16-chevron-left {
	background-position: 97.29729729729729% 50%;
}

.ci-16-chevron-left-size {
	width: 16px;
	height: 16px;
}

.ci-16-chevron-right {
	background-position: 97.29729729729729% 55.88235294117647%;
}

.ci-16-chevron-right-size {
	width: 16px;
	height: 16px;
}

.ci-16-chevron-up {
	background-position: 97.29729729729729% 61.76470588235294%;
}

.ci-16-chevron-up-size {
	width: 16px;
	height: 16px;
}

.ci-apple-safari {
	background-position: 0 0;
}

.ci-apple-safari-size {
	width: 24px;
	height: 24px;
}

.ci-arrow-down-outlined {
	background-position: 8.333333333333334% 0;
}

.ci-arrow-down-outlined-size {
	width: 24px;
	height: 24px;
}

.ci-arrow-left-outlined {
	background-position: 0 9.090909090909092%;
}

.ci-arrow-left-outlined-size {
	width: 24px;
	height: 24px;
}

.ci-arrow-right-outlined {
	background-position: 8.333333333333334% 9.090909090909092%;
}

.ci-arrow-right-outlined-size {
	width: 24px;
	height: 24px;
}

.ci-arrow-up-outlined {
	background-position: 16.666666666666668% 0;
}

.ci-arrow-up-outlined-size {
	width: 24px;
	height: 24px;
}

.ci-article-filled {
	background-position: 16.666666666666668% 9.090909090909092%;
}

.ci-article-filled-size {
	width: 24px;
	height: 24px;
}

.ci-article-outlined {
	background-position: 0 18.181818181818183%;
}

.ci-article-outlined-size {
	width: 24px;
	height: 24px;
}

.ci-bar-chart-outlined {
	background-position: 8.333333333333334% 18.181818181818183%;
}

.ci-bar-chart-outlined-size {
	width: 24px;
	height: 24px;
}

.ci-bell-check-outlined {
	background-position: 16.666666666666668% 18.181818181818183%;
}

.ci-bell-check-outlined-size {
	width: 24px;
	height: 24px;
}

.ci-bell-dot-filled {
	background-position: 25% 0;
}

.ci-bell-dot-filled-size {
	width: 24px;
	height: 24px;
}

.ci-bell-dot-outlined {
	background-position: 25% 9.090909090909092%;
}

.ci-bell-dot-outlined-size {
	width: 24px;
	height: 24px;
}

.ci-bell-filled {
	background-position: 25% 18.181818181818183%;
}

.ci-bell-filled-size {
	width: 24px;
	height: 24px;
}

.ci-bell-outlined {
	background-position: 0 27.272727272727273%;
}

.ci-bell-outlined-size {
	width: 24px;
	height: 24px;
}

.ci-bell-plus-outlined {
	background-position: 8.333333333333334% 27.272727272727273%;
}

.ci-bell-plus-outlined-size {
	width: 24px;
	height: 24px;
}

.ci-bell-ringing-filled {
	background-position: 16.666666666666668% 27.272727272727273%;
}

.ci-bell-ringing-filled-size {
	width: 24px;
	height: 24px;
}

.ci-bell-ringing-outlined {
	background-position: 25% 27.272727272727273%;
}

.ci-bell-ringing-outlined-size {
	width: 24px;
	height: 24px;
}

.ci-book-filled {
	background-position: 33.333333333333336% 0;
}

.ci-book-filled-size {
	width: 24px;
	height: 24px;
}

.ci-book-outlined {
	background-position: 33.333333333333336% 9.090909090909092%;
}

.ci-book-outlined-size {
	width: 24px;
	height: 24px;
}

.ci-bookmark-check-outlined {
	background-position: 33.333333333333336% 18.181818181818183%;
}

.ci-bookmark-check-outlined-size {
	width: 24px;
	height: 24px;
}

.ci-bookmark-filled {
	background-position: 33.333333333333336% 27.272727272727273%;
}

.ci-bookmark-filled-size {
	width: 24px;
	height: 24px;
}

.ci-bookmark-outlined {
	background-position: 0 36.36363636363637%;
}

.ci-bookmark-outlined-size {
	width: 24px;
	height: 24px;
}

.ci-bookmark-plus-outlined {
	background-position: 8.333333333333334% 36.36363636363637%;
}

.ci-bookmark-plus-outlined-size {
	width: 24px;
	height: 24px;
}

.ci-chat-filled {
	background-position: 16.666666666666668% 36.36363636363637%;
}

.ci-chat-filled-size {
	width: 24px;
	height: 24px;
}

.ci-chat-outlined {
	background-position: 25% 36.36363636363637%;
}

.ci-chat-outlined-size {
	width: 24px;
	height: 24px;
}

.ci-check-circle-filled {
	background-position: 33.333333333333336% 36.36363636363637%;
}

.ci-check-circle-filled-size {
	width: 24px;
	height: 24px;
}

.ci-check-circle-outlined {
	background-position: 41.666666666666664% 0;
}

.ci-check-circle-outlined-size {
	width: 24px;
	height: 24px;
}

.ci-check-outlined {
	background-position: 41.666666666666664% 9.090909090909092%;
}

.ci-check-outlined-size {
	width: 24px;
	height: 24px;
}

.ci-chevron-down-outlined {
	background-position: 41.666666666666664% 18.181818181818183%;
}

.ci-chevron-down-outlined-size {
	width: 24px;
	height: 24px;
}

.ci-chevron-left-outlined {
	background-position: 41.666666666666664% 27.272727272727273%;
}

.ci-chevron-left-outlined-size {
	width: 24px;
	height: 24px;
}

.ci-chevron-right-outlined {
	background-position: 41.666666666666664% 36.36363636363637%;
}

.ci-chevron-right-outlined-size {
	width: 24px;
	height: 24px;
}

.ci-chevron-up-outlined {
	background-position: 0 45.45454545454545%;
}

.ci-chevron-up-outlined-size {
	width: 24px;
	height: 24px;
}

.ci-clock-filled {
	background-position: 8.333333333333334% 45.45454545454545%;
}

.ci-clock-filled-size {
	width: 24px;
	height: 24px;
}

.ci-clock-outlined {
	background-position: 16.666666666666668% 45.45454545454545%;
}

.ci-clock-outlined-size {
	width: 24px;
	height: 24px;
}

.ci-communities-filled {
	background-position: 25% 45.45454545454545%;
}

.ci-communities-filled-size {
	width: 24px;
	height: 24px;
}

.ci-communities-outlined {
	background-position: 33.333333333333336% 45.45454545454545%;
}

.ci-communities-outlined-size {
	width: 24px;
	height: 24px;
}

.ci-content-filled {
	background-position: 41.666666666666664% 45.45454545454545%;
}

.ci-content-filled-size {
	width: 24px;
	height: 24px;
}

.ci-content-outlined {
	background-position: 50% 0;
}

.ci-content-outlined-size {
	width: 24px;
	height: 24px;
}

.ci-copy-outlined {
	background-position: 50% 9.090909090909092%;
}

.ci-copy-outlined-size {
	width: 24px;
	height: 24px;
}

.ci-cross-circle-filled {
	background-position: 50% 18.181818181818183%;
}

.ci-cross-circle-filled-size {
	width: 24px;
	height: 24px;
}

.ci-cross-circle-outlined {
	background-position: 50% 27.272727272727273%;
}

.ci-cross-circle-outlined-size {
	width: 24px;
	height: 24px;
}

.ci-cross-outlined {
	background-position: 50% 36.36363636363637%;
}

.ci-cross-outlined-size {
	width: 24px;
	height: 24px;
}

.ci-cross-square-filled {
	background-position: 50% 45.45454545454545%;
}

.ci-cross-square-filled-size {
	width: 24px;
	height: 24px;
}

.ci-cross-square-outlined {
	background-position: 0 54.54545454545455%;
}

.ci-cross-square-outlined-size {
	width: 24px;
	height: 24px;
}

.ci-download-outlined {
	background-position: 8.333333333333334% 54.54545454545455%;
}

.ci-download-outlined-size {
	width: 24px;
	height: 24px;
}

.ci-earth-outlined {
	background-position: 16.666666666666668% 54.54545454545455%;
}

.ci-earth-outlined-size {
	width: 24px;
	height: 24px;
}

.ci-events-filled {
	background-position: 25% 54.54545454545455%;
}

.ci-events-filled-size {
	width: 24px;
	height: 24px;
}

.ci-events-outlined {
	background-position: 33.333333333333336% 54.54545454545455%;
}

.ci-events-outlined-size {
	width: 24px;
	height: 24px;
}

.ci-facebook {
	background-position: 41.666666666666664% 54.54545454545455%;
}

.ci-facebook-size {
	width: 24px;
	height: 24px;
}

.ci-feed-filled {
	background-position: 50% 54.54545454545455%;
}

.ci-feed-filled-size {
	width: 24px;
	height: 24px;
}

.ci-feed-outlined {
	background-position: 58.333333333333336% 0;
}

.ci-feed-outlined-size {
	width: 24px;
	height: 24px;
}

.ci-fingerprint-outlined {
	background-position: 58.333333333333336% 9.090909090909092%;
}

.ci-fingerprint-outlined-size {
	width: 24px;
	height: 24px;
}

.ci-folder-minus-outlined {
	background-position: 58.333333333333336% 18.181818181818183%;
}

.ci-folder-minus-outlined-size {
	width: 24px;
	height: 24px;
}

.ci-folder-outlined {
	background-position: 58.333333333333336% 27.272727272727273%;
}

.ci-folder-outlined-size {
	width: 24px;
	height: 24px;
}

.ci-folder-plus-outlined {
	background-position: 58.333333333333336% 36.36363636363637%;
}

.ci-folder-plus-outlined-size {
	width: 24px;
	height: 24px;
}

.ci-gift-outlined {
	background-position: 58.333333333333336% 45.45454545454545%;
}

.ci-gift-outlined-size {
	width: 24px;
	height: 24px;
}

.ci-globe-outlined {
	background-position: 58.333333333333336% 54.54545454545455%;
}

.ci-globe-outlined-size {
	width: 24px;
	height: 24px;
}

.ci-google {
	background-position: 0 63.63636363636363%;
}

.ci-google-size {
	width: 24px;
	height: 24px;
}

.ci-google-calendar {
	background-position: 8.333333333333334% 63.63636363636363%;
}

.ci-google-calendar-size {
	width: 24px;
	height: 24px;
}

.ci-google-chrome {
	background-position: 16.666666666666668% 63.63636363636363%;
}

.ci-google-chrome-size {
	width: 24px;
	height: 24px;
}

.ci-google-drive {
	background-position: 25% 63.63636363636363%;
}

.ci-google-drive-size {
	width: 24px;
	height: 24px;
}

.ci-google-mail {
	background-position: 33.333333333333336% 63.63636363636363%;
}

.ci-google-mail-size {
	width: 24px;
	height: 24px;
}

.ci-gradient-outlined {
	background-position: 41.666666666666664% 63.63636363636363%;
}

.ci-gradient-outlined-size {
	width: 24px;
	height: 24px;
}

.ci-group-outlined {
	background-position: 50% 63.63636363636363%;
}

.ci-group-outlined-size {
	width: 24px;
	height: 24px;
}

.ci-haiilo-home {
	background-position: 58.333333333333336% 63.63636363636363%;
}

.ci-haiilo-home-size {
	width: 24px;
	height: 24px;
}

.ci-haiilo-insights {
	background-position: 66.66666666666667% 0;
}

.ci-haiilo-insights-size {
	width: 24px;
	height: 24px;
}

.ci-haiilo-outlined {
	background-position: 66.66666666666667% 9.090909090909092%;
}

.ci-haiilo-outlined-size {
	width: 24px;
	height: 24px;
}

.ci-haiilo-share {
	background-position: 66.66666666666667% 18.181818181818183%;
}

.ci-haiilo-share-size {
	width: 24px;
	height: 24px;
}

.ci-haiilo-stories {
	background-position: 66.66666666666667% 27.272727272727273%;
}

.ci-haiilo-stories-size {
	width: 24px;
	height: 24px;
}

.ci-hashtag-outlined {
	background-position: 66.66666666666667% 36.36363636363637%;
}

.ci-hashtag-outlined-size {
	width: 24px;
	height: 24px;
}

.ci-home-filled {
	background-position: 66.66666666666667% 45.45454545454545%;
}

.ci-home-filled-size {
	width: 24px;
	height: 24px;
}

.ci-home-outlined {
	background-position: 66.66666666666667% 54.54545454545455%;
}

.ci-home-outlined-size {
	width: 24px;
	height: 24px;
}

.ci-instagram {
	background-position: 66.66666666666667% 63.63636363636363%;
}

.ci-instagram-size {
	width: 24px;
	height: 24px;
}

.ci-layers-filled {
	background-position: 0 72.72727272727273%;
}

.ci-layers-filled-size {
	width: 24px;
	height: 24px;
}

.ci-layers-outlined {
	background-position: 8.333333333333334% 72.72727272727273%;
}

.ci-layers-outlined-size {
	width: 24px;
	height: 24px;
}

.ci-likes-circle-filled {
	background-position: 16.666666666666668% 72.72727272727273%;
}

.ci-likes-circle-filled-size {
	width: 24px;
	height: 24px;
}

.ci-link-outlined {
	background-position: 25% 72.72727272727273%;
}

.ci-link-outlined-size {
	width: 24px;
	height: 24px;
}

.ci-linkedin {
	background-position: 33.333333333333336% 72.72727272727273%;
}

.ci-linkedin-size {
	width: 24px;
	height: 24px;
}

.ci-lock-filled {
	background-position: 41.666666666666664% 72.72727272727273%;
}

.ci-lock-filled-size {
	width: 24px;
	height: 24px;
}

.ci-lock-open-filled {
	background-position: 50% 72.72727272727273%;
}

.ci-lock-open-filled-size {
	width: 24px;
	height: 24px;
}

.ci-lock-open-outlined {
	background-position: 58.333333333333336% 72.72727272727273%;
}

.ci-lock-open-outlined-size {
	width: 24px;
	height: 24px;
}

.ci-lock-outlined {
	background-position: 66.66666666666667% 72.72727272727273%;
}

.ci-lock-outlined-size {
	width: 24px;
	height: 24px;
}

.ci-mail-open-outlined {
	background-position: 75% 0;
}

.ci-mail-open-outlined-size {
	width: 24px;
	height: 24px;
}

.ci-mail-outlined {
	background-position: 75% 9.090909090909092%;
}

.ci-mail-outlined-size {
	width: 24px;
	height: 24px;
}

.ci-marketplace-filled {
	background-position: 75% 18.181818181818183%;
}

.ci-marketplace-filled-size {
	width: 24px;
	height: 24px;
}

.ci-marketplace-outlined {
	background-position: 75% 27.272727272727273%;
}

.ci-marketplace-outlined-size {
	width: 24px;
	height: 24px;
}

.ci-megaphone-filled {
	background-position: 75% 36.36363636363637%;
}

.ci-megaphone-filled-size {
	width: 24px;
	height: 24px;
}

.ci-megaphone-outlined {
	background-position: 75% 45.45454545454545%;
}

.ci-megaphone-outlined-size {
	width: 24px;
	height: 24px;
}

.ci-menu-outlined {
	background-position: 75% 54.54545454545455%;
}

.ci-menu-outlined-size {
	width: 24px;
	height: 24px;
}

.ci-microsoft {
	background-position: 75% 63.63636363636363%;
}

.ci-microsoft-size {
	width: 24px;
	height: 24px;
}

.ci-microsoft-edge {
	background-position: 75% 72.72727272727273%;
}

.ci-microsoft-edge-size {
	width: 24px;
	height: 24px;
}

.ci-microsoft-excel {
	background-position: 0 81.81818181818181%;
}

.ci-microsoft-excel-size {
	width: 24px;
	height: 24px;
}

.ci-microsoft-onenote {
	background-position: 8.333333333333334% 81.81818181818181%;
}

.ci-microsoft-onenote-size {
	width: 24px;
	height: 24px;
}

.ci-microsoft-outlook {
	background-position: 16.666666666666668% 81.81818181818181%;
}

.ci-microsoft-outlook-size {
	width: 24px;
	height: 24px;
}

.ci-microsoft-planner {
	background-position: 25% 81.81818181818181%;
}

.ci-microsoft-planner-size {
	width: 24px;
	height: 24px;
}

.ci-microsoft-powerpoint {
	background-position: 33.333333333333336% 81.81818181818181%;
}

.ci-microsoft-powerpoint-size {
	width: 24px;
	height: 24px;
}

.ci-microsoft-sharepoint {
	background-position: 41.666666666666664% 81.81818181818181%;
}

.ci-microsoft-sharepoint-size {
	width: 24px;
	height: 24px;
}

.ci-microsoft-teams {
	background-position: 50% 81.81818181818181%;
}

.ci-microsoft-teams-size {
	width: 24px;
	height: 24px;
}

.ci-microsoft-word {
	background-position: 58.333333333333336% 81.81818181818181%;
}

.ci-microsoft-word-size {
	width: 24px;
	height: 24px;
}

.ci-microsoft-yammer {
	background-position: 66.66666666666667% 81.81818181818181%;
}

.ci-microsoft-yammer-size {
	width: 24px;
	height: 24px;
}

.ci-mozilla-firefox {
	background-position: 75% 81.81818181818181%;
}

.ci-mozilla-firefox-size {
	width: 24px;
	height: 24px;
}

.ci-paperclip-box-outlined {
	background-position: 83.33333333333333% 0;
}

.ci-paperclip-box-outlined-size {
	width: 24px;
	height: 24px;
}

.ci-paperclip-outlined {
	background-position: 83.33333333333333% 9.090909090909092%;
}

.ci-paperclip-outlined-size {
	width: 24px;
	height: 24px;
}

.ci-photo-add-outlined {
	background-position: 83.33333333333333% 18.181818181818183%;
}

.ci-photo-add-outlined-size {
	width: 24px;
	height: 24px;
}

.ci-photo-filled {
	background-position: 83.33333333333333% 27.272727272727273%;
}

.ci-photo-filled-size {
	width: 24px;
	height: 24px;
}

.ci-photo-outlined {
	background-position: 83.33333333333333% 36.36363636363637%;
}

.ci-photo-outlined-size {
	width: 24px;
	height: 24px;
}

.ci-photo-remove-outlined {
	background-position: 83.33333333333333% 45.45454545454545%;
}

.ci-photo-remove-outlined-size {
	width: 24px;
	height: 24px;
}

.ci-plus-circle-filled {
	background-position: 83.33333333333333% 54.54545454545455%;
}

.ci-plus-circle-filled-size {
	width: 24px;
	height: 24px;
}

.ci-plus-circle-outlined {
	background-position: 83.33333333333333% 63.63636363636363%;
}

.ci-plus-circle-outlined-size {
	width: 24px;
	height: 24px;
}

.ci-plus-outlined {
	background-position: 83.33333333333333% 72.72727272727273%;
}

.ci-plus-outlined-size {
	width: 24px;
	height: 24px;
}

.ci-plus-square-filled {
	background-position: 83.33333333333333% 81.81818181818181%;
}

.ci-plus-square-filled-size {
	width: 24px;
	height: 24px;
}

.ci-plus-square-outlined {
	background-position: 0 90.9090909090909%;
}

.ci-plus-square-outlined-size {
	width: 24px;
	height: 24px;
}

.ci-printer-filled {
	background-position: 8.333333333333334% 90.9090909090909%;
}

.ci-printer-filled-size {
	width: 24px;
	height: 24px;
}

.ci-printer-outlined {
	background-position: 16.666666666666668% 90.9090909090909%;
}

.ci-printer-outlined-size {
	width: 24px;
	height: 24px;
}

.ci-profile-box-outlined {
	background-position: 25% 90.9090909090909%;
}

.ci-profile-box-outlined-size {
	width: 24px;
	height: 24px;
}

.ci-profile-circle-outlined {
	background-position: 33.333333333333336% 90.9090909090909%;
}

.ci-profile-circle-outlined-size {
	width: 24px;
	height: 24px;
}

.ci-profiles-filled {
	background-position: 41.666666666666664% 90.9090909090909%;
}

.ci-profiles-filled-size {
	width: 24px;
	height: 24px;
}

.ci-profiles-outlined {
	background-position: 50% 90.9090909090909%;
}

.ci-profiles-outlined-size {
	width: 24px;
	height: 24px;
}

.ci-reading-glasses-filled {
	background-position: 58.333333333333336% 90.9090909090909%;
}

.ci-reading-glasses-filled-size {
	width: 24px;
	height: 24px;
}

.ci-reading-glasses-outlined {
	background-position: 66.66666666666667% 90.9090909090909%;
}

.ci-reading-glasses-outlined-size {
	width: 24px;
	height: 24px;
}

.ci-search-filled {
	background-position: 75% 90.9090909090909%;
}

.ci-search-filled-size {
	width: 24px;
	height: 24px;
}

.ci-search-outlined {
	background-position: 83.33333333333333% 90.9090909090909%;
}

.ci-search-outlined-size {
	width: 24px;
	height: 24px;
}

.ci-settings-outlined {
	background-position: 91.66666666666667% 0;
}

.ci-settings-outlined-size {
	width: 24px;
	height: 24px;
}

.ci-share-filled {
	background-position: 91.66666666666667% 9.090909090909092%;
}

.ci-share-filled-size {
	width: 24px;
	height: 24px;
}

.ci-share-outlined {
	background-position: 91.66666666666667% 18.181818181818183%;
}

.ci-share-outlined-size {
	width: 24px;
	height: 24px;
}

.ci-sign-in-outlined {
	background-position: 91.66666666666667% 27.272727272727273%;
}

.ci-sign-in-outlined-size {
	width: 24px;
	height: 24px;
}

.ci-sign-out-outlined {
	background-position: 91.66666666666667% 36.36363636363637%;
}

.ci-sign-out-outlined-size {
	width: 24px;
	height: 24px;
}

.ci-signal-outlined {
	background-position: 91.66666666666667% 45.45454545454545%;
}

.ci-signal-outlined-size {
	width: 24px;
	height: 24px;
}

.ci-slack {
	background-position: 91.66666666666667% 54.54545454545455%;
}

.ci-slack-size {
	width: 24px;
	height: 24px;
}

.ci-smile {
	background-position: 91.66666666666667% 63.63636363636363%;
}

.ci-smile-size {
	width: 24px;
	height: 24px;
}

.ci-sparkle-filled {
	background-position: 91.66666666666667% 72.72727272727273%;
}

.ci-sparkle-filled-size {
	width: 24px;
	height: 24px;
}

.ci-sparkle-outlined {
	background-position: 91.66666666666667% 81.81818181818181%;
}

.ci-sparkle-outlined-size {
	width: 24px;
	height: 24px;
}

.ci-star-circle-filled {
	background-position: 91.66666666666667% 90.9090909090909%;
}

.ci-star-circle-filled-size {
	width: 24px;
	height: 24px;
}

.ci-star-circle-outlined {
	background-position: 0 100%;
}

.ci-star-circle-outlined-size {
	width: 24px;
	height: 24px;
}

.ci-sticker-filled {
	background-position: 8.333333333333334% 100%;
}

.ci-sticker-filled-size {
	width: 24px;
	height: 24px;
}

.ci-sticker-outlined {
	background-position: 16.666666666666668% 100%;
}

.ci-sticker-outlined-size {
	width: 24px;
	height: 24px;
}

.ci-stream-filled {
	background-position: 25% 100%;
}

.ci-stream-filled-size {
	width: 24px;
	height: 24px;
}

.ci-stream-outlined {
	background-position: 33.333333333333336% 100%;
}

.ci-stream-outlined-size {
	width: 24px;
	height: 24px;
}

.ci-thumbs-up-filled {
	background-position: 41.666666666666664% 100%;
}

.ci-thumbs-up-filled-size {
	width: 24px;
	height: 24px;
}

.ci-thumbs-up-outlined {
	background-position: 50% 100%;
}

.ci-thumbs-up-outlined-size {
	width: 24px;
	height: 24px;
}

.ci-translate-outlined {
	background-position: 58.333333333333336% 100%;
}

.ci-translate-outlined-size {
	width: 24px;
	height: 24px;
}

.ci-trash-filled {
	background-position: 66.66666666666667% 100%;
}

.ci-trash-filled-size {
	width: 24px;
	height: 24px;
}

.ci-trash-outlined {
	background-position: 75% 100%;
}

.ci-trash-outlined-size {
	width: 24px;
	height: 24px;
}

.ci-twitter {
	background-position: 83.33333333333333% 100%;
}

.ci-twitter-size {
	width: 24px;
	height: 24px;
}

.ci-upload-outlined {
	background-position: 91.66666666666667% 100%;
}

.ci-upload-outlined-size {
	width: 24px;
	height: 24px;
}

.ci-video-camera-filled {
	background-position: 100% 0;
}

.ci-video-camera-filled-size {
	width: 24px;
	height: 24px;
}

.ci-video-camera-outlined {
	background-position: 100% 9.090909090909092%;
}

.ci-video-camera-outlined-size {
	width: 24px;
	height: 24px;
}

.ci-wechat {
	background-position: 100% 18.181818181818183%;
}

.ci-wechat-size {
	width: 24px;
	height: 24px;
}

.ci-write-outlined {
	background-position: 100% 27.272727272727273%;
}

.ci-write-outlined-size {
	width: 24px;
	height: 24px;
}

.ci-xing {
	background-position: 100% 36.36363636363637%;
}

.ci-xing-size {
	width: 24px;
	height: 24px;
}

