.ci {
	background: url("../svg/sprite.css.svg") no-repeat;
}

.ci-16-chevron-down {
	background-position: 97.72727272727273% 95.1219512195122%;
}

.ci-16-chevron-down-size {
	width: 16px;
	height: 16px;
}

.ci-16-chevron-left {
	background-position: 97.72727272727273% 100%;
}

.ci-16-chevron-left-size {
	width: 16px;
	height: 16px;
}

.ci-16-chevron-right {
	background-position: 28.40909090909091% 56.09756097560975%;
}

.ci-16-chevron-right-size {
	width: 16px;
	height: 16px;
}

.ci-16-chevron-up {
	background-position: 32.95454545454545% 56.09756097560975%;
}

.ci-16-chevron-up-size {
	width: 16px;
	height: 16px;
}

.ci-apple-safari {
	background-position: 29.069767441860463% 50%;
}

.ci-apple-safari-size {
	width: 24px;
	height: 24px;
}

.ci-arrow-down-outlined {
	background-position: 36.04651162790697% 50%;
}

.ci-arrow-down-outlined-size {
	width: 24px;
	height: 24px;
}

.ci-arrow-left-outlined {
	background-position: 43.02325581395349% 50%;
}

.ci-arrow-left-outlined-size {
	width: 24px;
	height: 24px;
}

.ci-arrow-right-outlined {
	background-position: 50% 50%;
}

.ci-arrow-right-outlined-size {
	width: 24px;
	height: 24px;
}

.ci-arrow-up-outlined {
	background-position: 58.13953488372093% 0;
}

.ci-arrow-up-outlined-size {
	width: 24px;
	height: 24px;
}

.ci-article-filled {
	background-position: 58.13953488372093% 7.5%;
}

.ci-article-filled-size {
	width: 24px;
	height: 24px;
}

.ci-article-outlined {
	background-position: 58.13953488372093% 15%;
}

.ci-article-outlined-size {
	width: 24px;
	height: 24px;
}

.ci-bar-chart-outlined {
	background-position: 58.13953488372093% 22.5%;
}

.ci-bar-chart-outlined-size {
	width: 24px;
	height: 24px;
}

.ci-bell-check-outlined {
	background-position: 58.13953488372093% 30%;
}

.ci-bell-check-outlined-size {
	width: 24px;
	height: 24px;
}

.ci-bell-dot-filled {
	background-position: 58.13953488372093% 37.5%;
}

.ci-bell-dot-filled-size {
	width: 24px;
	height: 24px;
}

.ci-bell-dot-outlined {
	background-position: 58.13953488372093% 45%;
}

.ci-bell-dot-outlined-size {
	width: 24px;
	height: 24px;
}

.ci-bell-filled {
	background-position: 58.13953488372093% 52.5%;
}

.ci-bell-filled-size {
	width: 24px;
	height: 24px;
}

.ci-bell-outlined {
	background-position: 0 62.5%;
}

.ci-bell-outlined-size {
	width: 24px;
	height: 24px;
}

.ci-bell-plus-outlined {
	background-position: 6.976744186046512% 62.5%;
}

.ci-bell-plus-outlined-size {
	width: 24px;
	height: 24px;
}

.ci-bell-ringing-filled {
	background-position: 13.953488372093023% 62.5%;
}

.ci-bell-ringing-filled-size {
	width: 24px;
	height: 24px;
}

.ci-bell-ringing-outlined {
	background-position: 20.930232558139537% 62.5%;
}

.ci-bell-ringing-outlined-size {
	width: 24px;
	height: 24px;
}

.ci-book-filled {
	background-position: 27.906976744186046% 62.5%;
}

.ci-book-filled-size {
	width: 24px;
	height: 24px;
}

.ci-book-outlined {
	background-position: 34.883720930232556% 62.5%;
}

.ci-book-outlined-size {
	width: 24px;
	height: 24px;
}

.ci-bookmark-check-outlined {
	background-position: 41.86046511627907% 62.5%;
}

.ci-bookmark-check-outlined-size {
	width: 24px;
	height: 24px;
}

.ci-bookmark-filled {
	background-position: 48.83720930232558% 62.5%;
}

.ci-bookmark-filled-size {
	width: 24px;
	height: 24px;
}

.ci-bookmark-outlined {
	background-position: 55.81395348837209% 62.5%;
}

.ci-bookmark-outlined-size {
	width: 24px;
	height: 24px;
}

.ci-bookmark-plus-outlined {
	background-position: 65.11627906976744% 0;
}

.ci-bookmark-plus-outlined-size {
	width: 24px;
	height: 24px;
}

.ci-chat-filled {
	background-position: 65.11627906976744% 7.5%;
}

.ci-chat-filled-size {
	width: 24px;
	height: 24px;
}

.ci-chat-outlined {
	background-position: 65.11627906976744% 15%;
}

.ci-chat-outlined-size {
	width: 24px;
	height: 24px;
}

.ci-check-circle-filled {
	background-position: 65.11627906976744% 22.5%;
}

.ci-check-circle-filled-size {
	width: 24px;
	height: 24px;
}

.ci-check-circle-outlined {
	background-position: 65.11627906976744% 30%;
}

.ci-check-circle-outlined-size {
	width: 24px;
	height: 24px;
}

.ci-check-outlined {
	background-position: 65.11627906976744% 37.5%;
}

.ci-check-outlined-size {
	width: 24px;
	height: 24px;
}

.ci-chevron-down-outlined {
	background-position: 65.11627906976744% 45%;
}

.ci-chevron-down-outlined-size {
	width: 24px;
	height: 24px;
}

.ci-chevron-left-outlined {
	background-position: 65.11627906976744% 52.5%;
}

.ci-chevron-left-outlined-size {
	width: 24px;
	height: 24px;
}

.ci-chevron-right-outlined {
	background-position: 65.11627906976744% 60%;
}

.ci-chevron-right-outlined-size {
	width: 24px;
	height: 24px;
}

.ci-chevron-up-outlined {
	background-position: 0 70%;
}

.ci-chevron-up-outlined-size {
	width: 24px;
	height: 24px;
}

.ci-clock-filled {
	background-position: 6.976744186046512% 70%;
}

.ci-clock-filled-size {
	width: 24px;
	height: 24px;
}

.ci-clock-outlined {
	background-position: 13.953488372093023% 70%;
}

.ci-clock-outlined-size {
	width: 24px;
	height: 24px;
}

.ci-communities-filled {
	background-position: 20.930232558139537% 70%;
}

.ci-communities-filled-size {
	width: 24px;
	height: 24px;
}

.ci-communities-outlined {
	background-position: 27.906976744186046% 70%;
}

.ci-communities-outlined-size {
	width: 24px;
	height: 24px;
}

.ci-content-filled {
	background-position: 34.883720930232556% 70%;
}

.ci-content-filled-size {
	width: 24px;
	height: 24px;
}

.ci-content-outlined {
	background-position: 41.86046511627907% 70%;
}

.ci-content-outlined-size {
	width: 24px;
	height: 24px;
}

.ci-copy-outlined {
	background-position: 48.83720930232558% 70%;
}

.ci-copy-outlined-size {
	width: 24px;
	height: 24px;
}

.ci-cross-circle-filled {
	background-position: 55.81395348837209% 70%;
}

.ci-cross-circle-filled-size {
	width: 24px;
	height: 24px;
}

.ci-cross-circle-outlined {
	background-position: 62.7906976744186% 70%;
}

.ci-cross-circle-outlined-size {
	width: 24px;
	height: 24px;
}

.ci-cross-outlined {
	background-position: 72.09302325581395% 0;
}

.ci-cross-outlined-size {
	width: 24px;
	height: 24px;
}

.ci-cross-square-filled {
	background-position: 72.09302325581395% 7.5%;
}

.ci-cross-square-filled-size {
	width: 24px;
	height: 24px;
}

.ci-cross-square-outlined {
	background-position: 72.09302325581395% 15%;
}

.ci-cross-square-outlined-size {
	width: 24px;
	height: 24px;
}

.ci-download-outlined {
	background-position: 72.09302325581395% 22.5%;
}

.ci-download-outlined-size {
	width: 24px;
	height: 24px;
}

.ci-earth-outlined {
	background-position: 72.09302325581395% 30%;
}

.ci-earth-outlined-size {
	width: 24px;
	height: 24px;
}

.ci-events-filled {
	background-position: 72.09302325581395% 37.5%;
}

.ci-events-filled-size {
	width: 24px;
	height: 24px;
}

.ci-events-outlined {
	background-position: 72.09302325581395% 45%;
}

.ci-events-outlined-size {
	width: 24px;
	height: 24px;
}

.ci-facebook {
	background-position: 72.09302325581395% 52.5%;
}

.ci-facebook-size {
	width: 24px;
	height: 24px;
}

.ci-feed-filled {
	background-position: 72.09302325581395% 60%;
}

.ci-feed-filled-size {
	width: 24px;
	height: 24px;
}

.ci-feed-outlined {
	background-position: 72.09302325581395% 67.5%;
}

.ci-feed-outlined-size {
	width: 24px;
	height: 24px;
}

.ci-fingerprint-outlined {
	background-position: 0 77.5%;
}

.ci-fingerprint-outlined-size {
	width: 24px;
	height: 24px;
}

.ci-folder-minus-outlined {
	background-position: 6.976744186046512% 77.5%;
}

.ci-folder-minus-outlined-size {
	width: 24px;
	height: 24px;
}

.ci-folder-outlined {
	background-position: 13.953488372093023% 77.5%;
}

.ci-folder-outlined-size {
	width: 24px;
	height: 24px;
}

.ci-folder-plus-outlined {
	background-position: 20.930232558139537% 77.5%;
}

.ci-folder-plus-outlined-size {
	width: 24px;
	height: 24px;
}

.ci-gift-outlined {
	background-position: 27.906976744186046% 77.5%;
}

.ci-gift-outlined-size {
	width: 24px;
	height: 24px;
}

.ci-globe-outlined {
	background-position: 34.883720930232556% 77.5%;
}

.ci-globe-outlined-size {
	width: 24px;
	height: 24px;
}

.ci-google {
	background-position: 41.86046511627907% 77.5%;
}

.ci-google-size {
	width: 24px;
	height: 24px;
}

.ci-google-calendar {
	background-position: 48.83720930232558% 77.5%;
}

.ci-google-calendar-size {
	width: 24px;
	height: 24px;
}

.ci-google-chrome {
	background-position: 55.81395348837209% 77.5%;
}

.ci-google-chrome-size {
	width: 24px;
	height: 24px;
}

.ci-google-drive {
	background-position: 62.7906976744186% 77.5%;
}

.ci-google-drive-size {
	width: 24px;
	height: 24px;
}

.ci-google-mail {
	background-position: 69.76744186046511% 77.5%;
}

.ci-google-mail-size {
	width: 24px;
	height: 24px;
}

.ci-gradient-outlined {
	background-position: 79.06976744186046% 0;
}

.ci-gradient-outlined-size {
	width: 24px;
	height: 24px;
}

.ci-group-outlined {
	background-position: 79.06976744186046% 7.5%;
}

.ci-group-outlined-size {
	width: 24px;
	height: 24px;
}

.ci-haiilo-home {
	background-position: 79.06976744186046% 15%;
}

.ci-haiilo-home-size {
	width: 24px;
	height: 24px;
}

.ci-haiilo-insights {
	background-position: 79.06976744186046% 22.5%;
}

.ci-haiilo-insights-size {
	width: 24px;
	height: 24px;
}

.ci-haiilo-outlined {
	background-position: 79.06976744186046% 30%;
}

.ci-haiilo-outlined-size {
	width: 24px;
	height: 24px;
}

.ci-haiilo-share {
	background-position: 79.06976744186046% 37.5%;
}

.ci-haiilo-share-size {
	width: 24px;
	height: 24px;
}

.ci-haiilo-stories {
	background-position: 79.06976744186046% 45%;
}

.ci-haiilo-stories-size {
	width: 24px;
	height: 24px;
}

.ci-hashtag-outlined {
	background-position: 79.06976744186046% 52.5%;
}

.ci-hashtag-outlined-size {
	width: 24px;
	height: 24px;
}

.ci-home-filled {
	background-position: 79.06976744186046% 60%;
}

.ci-home-filled-size {
	width: 24px;
	height: 24px;
}

.ci-home-outlined {
	background-position: 79.06976744186046% 67.5%;
}

.ci-home-outlined-size {
	width: 24px;
	height: 24px;
}

.ci-instagram {
	background-position: 79.06976744186046% 75%;
}

.ci-instagram-size {
	width: 24px;
	height: 24px;
}

.ci-layers-filled {
	background-position: 0 85%;
}

.ci-layers-filled-size {
	width: 24px;
	height: 24px;
}

.ci-layers-outlined {
	background-position: 6.976744186046512% 85%;
}

.ci-layers-outlined-size {
	width: 24px;
	height: 24px;
}

.ci-likes-circle-filled {
	background-position: 13.953488372093023% 85%;
}

.ci-likes-circle-filled-size {
	width: 24px;
	height: 24px;
}

.ci-link-outlined {
	background-position: 20.930232558139537% 85%;
}

.ci-link-outlined-size {
	width: 24px;
	height: 24px;
}

.ci-linkedin {
	background-position: 27.906976744186046% 85%;
}

.ci-linkedin-size {
	width: 24px;
	height: 24px;
}

.ci-lock-filled {
	background-position: 34.883720930232556% 85%;
}

.ci-lock-filled-size {
	width: 24px;
	height: 24px;
}

.ci-lock-open-filled {
	background-position: 41.86046511627907% 85%;
}

.ci-lock-open-filled-size {
	width: 24px;
	height: 24px;
}

.ci-lock-open-outlined {
	background-position: 48.83720930232558% 85%;
}

.ci-lock-open-outlined-size {
	width: 24px;
	height: 24px;
}

.ci-lock-outlined {
	background-position: 55.81395348837209% 85%;
}

.ci-lock-outlined-size {
	width: 24px;
	height: 24px;
}

.ci-mail-open-outlined {
	background-position: 62.7906976744186% 85%;
}

.ci-mail-open-outlined-size {
	width: 24px;
	height: 24px;
}

.ci-mail-outlined {
	background-position: 69.76744186046511% 85%;
}

.ci-mail-outlined-size {
	width: 24px;
	height: 24px;
}

.ci-marketplace-filled {
	background-position: 76.74418604651163% 85%;
}

.ci-marketplace-filled-size {
	width: 24px;
	height: 24px;
}

.ci-marketplace-outlined {
	background-position: 86.04651162790698% 0;
}

.ci-marketplace-outlined-size {
	width: 24px;
	height: 24px;
}

.ci-megaphone-filled {
	background-position: 86.04651162790698% 7.5%;
}

.ci-megaphone-filled-size {
	width: 24px;
	height: 24px;
}

.ci-megaphone-outlined {
	background-position: 86.04651162790698% 15%;
}

.ci-megaphone-outlined-size {
	width: 24px;
	height: 24px;
}

.ci-menu-outlined {
	background-position: 86.04651162790698% 22.5%;
}

.ci-menu-outlined-size {
	width: 24px;
	height: 24px;
}

.ci-microsoft {
	background-position: 86.04651162790698% 30%;
}

.ci-microsoft-size {
	width: 24px;
	height: 24px;
}

.ci-microsoft-edge {
	background-position: 86.04651162790698% 37.5%;
}

.ci-microsoft-edge-size {
	width: 24px;
	height: 24px;
}

.ci-microsoft-excel {
	background-position: 86.04651162790698% 45%;
}

.ci-microsoft-excel-size {
	width: 24px;
	height: 24px;
}

.ci-microsoft-onenote {
	background-position: 86.04651162790698% 52.5%;
}

.ci-microsoft-onenote-size {
	width: 24px;
	height: 24px;
}

.ci-microsoft-outlook {
	background-position: 86.04651162790698% 60%;
}

.ci-microsoft-outlook-size {
	width: 24px;
	height: 24px;
}

.ci-microsoft-planner {
	background-position: 86.04651162790698% 67.5%;
}

.ci-microsoft-planner-size {
	width: 24px;
	height: 24px;
}

.ci-microsoft-powerpoint {
	background-position: 86.04651162790698% 75%;
}

.ci-microsoft-powerpoint-size {
	width: 24px;
	height: 24px;
}

.ci-microsoft-sharepoint {
	background-position: 86.04651162790698% 82.5%;
}

.ci-microsoft-sharepoint-size {
	width: 24px;
	height: 24px;
}

.ci-microsoft-teams {
	background-position: 0 92.5%;
}

.ci-microsoft-teams-size {
	width: 24px;
	height: 24px;
}

.ci-microsoft-word {
	background-position: 6.976744186046512% 92.5%;
}

.ci-microsoft-word-size {
	width: 24px;
	height: 24px;
}

.ci-microsoft-yammer {
	background-position: 13.953488372093023% 92.5%;
}

.ci-microsoft-yammer-size {
	width: 24px;
	height: 24px;
}

.ci-mozilla-firefox {
	background-position: 20.930232558139537% 92.5%;
}

.ci-mozilla-firefox-size {
	width: 24px;
	height: 24px;
}

.ci-paperclip-box-outlined {
	background-position: 27.906976744186046% 92.5%;
}

.ci-paperclip-box-outlined-size {
	width: 24px;
	height: 24px;
}

.ci-paperclip-outlined {
	background-position: 34.883720930232556% 92.5%;
}

.ci-paperclip-outlined-size {
	width: 24px;
	height: 24px;
}

.ci-photo-add-outlined {
	background-position: 41.86046511627907% 92.5%;
}

.ci-photo-add-outlined-size {
	width: 24px;
	height: 24px;
}

.ci-photo-filled {
	background-position: 48.83720930232558% 92.5%;
}

.ci-photo-filled-size {
	width: 24px;
	height: 24px;
}

.ci-photo-outlined {
	background-position: 55.81395348837209% 92.5%;
}

.ci-photo-outlined-size {
	width: 24px;
	height: 24px;
}

.ci-photo-remove-outlined {
	background-position: 62.7906976744186% 92.5%;
}

.ci-photo-remove-outlined-size {
	width: 24px;
	height: 24px;
}

.ci-plus-circle-filled {
	background-position: 69.76744186046511% 92.5%;
}

.ci-plus-circle-filled-size {
	width: 24px;
	height: 24px;
}

.ci-plus-circle-outlined {
	background-position: 76.74418604651163% 92.5%;
}

.ci-plus-circle-outlined-size {
	width: 24px;
	height: 24px;
}

.ci-plus-outlined {
	background-position: 83.72093023255815% 92.5%;
}

.ci-plus-outlined-size {
	width: 24px;
	height: 24px;
}

.ci-plus-square-filled {
	background-position: 93.02325581395348% 0;
}

.ci-plus-square-filled-size {
	width: 24px;
	height: 24px;
}

.ci-plus-square-outlined {
	background-position: 93.02325581395348% 7.5%;
}

.ci-plus-square-outlined-size {
	width: 24px;
	height: 24px;
}

.ci-printer-filled {
	background-position: 93.02325581395348% 15%;
}

.ci-printer-filled-size {
	width: 24px;
	height: 24px;
}

.ci-printer-outlined {
	background-position: 93.02325581395348% 22.5%;
}

.ci-printer-outlined-size {
	width: 24px;
	height: 24px;
}

.ci-profile-box-outlined {
	background-position: 93.02325581395348% 30%;
}

.ci-profile-box-outlined-size {
	width: 24px;
	height: 24px;
}

.ci-profile-circle-outlined {
	background-position: 93.02325581395348% 37.5%;
}

.ci-profile-circle-outlined-size {
	width: 24px;
	height: 24px;
}

.ci-profiles-filled {
	background-position: 93.02325581395348% 45%;
}

.ci-profiles-filled-size {
	width: 24px;
	height: 24px;
}

.ci-profiles-outlined {
	background-position: 93.02325581395348% 52.5%;
}

.ci-profiles-outlined-size {
	width: 24px;
	height: 24px;
}

.ci-reading-glasses-filled {
	background-position: 93.02325581395348% 60%;
}

.ci-reading-glasses-filled-size {
	width: 24px;
	height: 24px;
}

.ci-reading-glasses-outlined {
	background-position: 93.02325581395348% 67.5%;
}

.ci-reading-glasses-outlined-size {
	width: 24px;
	height: 24px;
}

.ci-search-filled {
	background-position: 93.02325581395348% 75%;
}

.ci-search-filled-size {
	width: 24px;
	height: 24px;
}

.ci-search-outlined {
	background-position: 93.02325581395348% 82.5%;
}

.ci-search-outlined-size {
	width: 24px;
	height: 24px;
}

.ci-settings-outlined {
	background-position: 93.02325581395348% 90%;
}

.ci-settings-outlined-size {
	width: 24px;
	height: 24px;
}

.ci-share-filled {
	background-position: 0 100%;
}

.ci-share-filled-size {
	width: 24px;
	height: 24px;
}

.ci-share-outlined {
	background-position: 6.976744186046512% 100%;
}

.ci-share-outlined-size {
	width: 24px;
	height: 24px;
}

.ci-sign-in-outlined {
	background-position: 13.953488372093023% 100%;
}

.ci-sign-in-outlined-size {
	width: 24px;
	height: 24px;
}

.ci-sign-out-outlined {
	background-position: 20.930232558139537% 100%;
}

.ci-sign-out-outlined-size {
	width: 24px;
	height: 24px;
}

.ci-signal-outlined {
	background-position: 27.906976744186046% 100%;
}

.ci-signal-outlined-size {
	width: 24px;
	height: 24px;
}

.ci-slack {
	background-position: 34.883720930232556% 100%;
}

.ci-slack-size {
	width: 24px;
	height: 24px;
}

.ci-smile {
	background-position: 41.86046511627907% 100%;
}

.ci-smile-size {
	width: 24px;
	height: 24px;
}

.ci-sp-grid-2-cols {
	background-position: 0 0;
}

.ci-sp-grid-2-cols-size {
	width: 100px;
	height: 40px;
}

.ci-sp-grid-3-cols {
	background-position: 0 13.157894736842104%;
}

.ci-sp-grid-3-cols-size {
	width: 100px;
	height: 40px;
}

.ci-sp-grid-4-cols {
	background-position: 37.3134328358209% 0;
}

.ci-sp-grid-4-cols-size {
	width: 100px;
	height: 40px;
}

.ci-sp-grid-full {
	background-position: 37.3134328358209% 13.157894736842104%;
}

.ci-sp-grid-full-size {
	width: 100px;
	height: 40px;
}

.ci-sp-grid-sidebar-left {
	background-position: 0 26.31578947368421%;
}

.ci-sp-grid-sidebar-left-size {
	width: 100px;
	height: 40px;
}

.ci-sp-grid-sidebar-left-lg {
	background-position: 37.3134328358209% 26.31578947368421%;
}

.ci-sp-grid-sidebar-left-lg-size {
	width: 100px;
	height: 40px;
}

.ci-sp-grid-sidebar-right {
	background-position: 0 39.473684210526315%;
}

.ci-sp-grid-sidebar-right-size {
	width: 100px;
	height: 40px;
}

.ci-sp-grid-sidebar-right-lg {
	background-position: 37.3134328358209% 39.473684210526315%;
}

.ci-sp-grid-sidebar-right-lg-size {
	width: 100px;
	height: 40px;
}

.ci-sp-grid-social {
	background-position: 0 52.63157894736842%;
}

.ci-sp-grid-social-size {
	width: 100px;
	height: 40px;
}

.ci-sparkle-filled {
	background-position: 48.83720930232558% 100%;
}

.ci-sparkle-filled-size {
	width: 24px;
	height: 24px;
}

.ci-sparkle-outlined {
	background-position: 55.81395348837209% 100%;
}

.ci-sparkle-outlined-size {
	width: 24px;
	height: 24px;
}

.ci-star-circle-filled {
	background-position: 62.7906976744186% 100%;
}

.ci-star-circle-filled-size {
	width: 24px;
	height: 24px;
}

.ci-star-circle-outlined {
	background-position: 69.76744186046511% 100%;
}

.ci-star-circle-outlined-size {
	width: 24px;
	height: 24px;
}

.ci-sticker-filled {
	background-position: 76.74418604651163% 100%;
}

.ci-sticker-filled-size {
	width: 24px;
	height: 24px;
}

.ci-sticker-outlined {
	background-position: 83.72093023255815% 100%;
}

.ci-sticker-outlined-size {
	width: 24px;
	height: 24px;
}

.ci-stream-filled {
	background-position: 90.69767441860465% 100%;
}

.ci-stream-filled-size {
	width: 24px;
	height: 24px;
}

.ci-stream-outlined {
	background-position: 100% 0;
}

.ci-stream-outlined-size {
	width: 24px;
	height: 24px;
}

.ci-thumbs-up-filled {
	background-position: 100% 7.5%;
}

.ci-thumbs-up-filled-size {
	width: 24px;
	height: 24px;
}

.ci-thumbs-up-outlined {
	background-position: 100% 15%;
}

.ci-thumbs-up-outlined-size {
	width: 24px;
	height: 24px;
}

.ci-translate-outlined {
	background-position: 100% 22.5%;
}

.ci-translate-outlined-size {
	width: 24px;
	height: 24px;
}

.ci-trash-filled {
	background-position: 100% 30%;
}

.ci-trash-filled-size {
	width: 24px;
	height: 24px;
}

.ci-trash-outlined {
	background-position: 100% 37.5%;
}

.ci-trash-outlined-size {
	width: 24px;
	height: 24px;
}

.ci-twitter {
	background-position: 100% 45%;
}

.ci-twitter-size {
	width: 24px;
	height: 24px;
}

.ci-upload-outlined {
	background-position: 100% 52.5%;
}

.ci-upload-outlined-size {
	width: 24px;
	height: 24px;
}

.ci-video-camera-filled {
	background-position: 100% 60%;
}

.ci-video-camera-filled-size {
	width: 24px;
	height: 24px;
}

.ci-video-camera-outlined {
	background-position: 100% 67.5%;
}

.ci-video-camera-outlined-size {
	width: 24px;
	height: 24px;
}

.ci-wechat {
	background-position: 100% 75%;
}

.ci-wechat-size {
	width: 24px;
	height: 24px;
}

.ci-write-outlined {
	background-position: 100% 82.5%;
}

.ci-write-outlined-size {
	width: 24px;
	height: 24px;
}

.ci-xing {
	background-position: 100% 90%;
}

.ci-xing-size {
	width: 24px;
	height: 24px;
}

